/* Шрифты */

@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Ukij';
    src: url(fonts/UKIJInichkeb.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Source+Sans+3:wght@300;400&display=swap');

/* ---------- */

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #ECF4FF;
}

h1 {
    color: #000;
    font-family: Ukij;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

h2 {
    color: #000;
    font-family: Ukij;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

p {
    color: #FFF;
    text-align: right;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

h4 {
    color: #000;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

a {
    text-decoration: none;
}

/* Хедер */

.header {
    top: 0px;
    width: 100%;
    height: 53px;
    position: fixed;
    background: #ECF4FF;
    display: flex;
    align-items: center;
    z-index: 99;
}

.logo {
    padding-left: 16px;
}

.header-btn {
    width: auto;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    right: 44px;
}

.black {
    position: absolute;
}

.header-desctop {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

@media screen and (min-width: 1024px) {
    .header {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .header-desctop {
        opacity: 1;
        width: 100vw;
        height: 82px;
        position: fixed;
        box-sizing: border-box;
        background: #ECF4FF;
        top: 0;
        z-index: 100;
    }

    .header-desctop .header-logo {
        position: absolute;
        margin-left: 16px;
        margin-top: 16px;
    }

    .header-desctop ul {
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
    }

    .header-desctop ul a {
        text-decoration: none;
        color: #000;
        font-family: 'Lato';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }

    .header-desctop .menu svg {
        margin-left: 2px;
    }

    .header-desctop ul li {
        display: flex;
        align-items: center;
        list-style: none;
        padding-right: 56px;
    }

    .header-desctop .menu a:hover {
        transform: scale(1.05);
        transform: translateY(-2px);
    }

    .header-desctop .menu a:active {
        transform: scale(0.95);
        transform: translateY(0);
    }

    .header-desctop .dropdown {
        width: auto;
        height: auto;
        top: 82px;
        display: flex;
        position: absolute;
        border-radius: 10px;
        background: #ECF4FF;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
        align-items: stretch;
        text-align: left;
    }

    .header-desctop .dropdown a {
        width: 111px;
        margin: 8px 8px 8px 8px;
    }

    .header-desctop .left-column,
    .right-column {
        display: flex;
        flex-direction: column;
        padding-right: 32px;
    }

    .header-desctop li:hover .dropdown {
        opacity: 1;
        visibility: visible;
    }

    .header-desctop li:hover svg {
        transform: rotate(180deg);
        transition: 0.3s ease;
    }
}

/* Первый контейнер */

.container-1 {
    width: 288px;
    padding-top: 69px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.container-1 img {
    margin-bottom: 16px;
    margin-top: 16px;
}

.container-1 h4 {
    padding: 0;
}

.container-1 a {
    margin-top: 16px;
    display: inline-flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FF8A1E;
    text-decoration: none;
}

.container-1 a span {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container-1 ul {
    list-style-type: none;
    opacity: 0;
    z-index: -1;
    position: absolute;
}

@media screen and (min-width: 768px) {
    .container-1 {
        width: 606px;
        transition: 0.2s ease;
        flex-direction: row;
    }

    .container-1 img {
        width: 450px;
        margin: 0;
        margin-top: 24px;
    }

    .container-1 .mCh1,
    .mCh3,
    .mCh4,
    .mCa {
        position: absolute;
        opacity: 0;
    }

    .container-1 ul {
        position: relative;
        opacity: 1;
        z-index: none;
        padding: 0;
        margin: 0;
    }

    .container-1 ul li h4,
    h3,
    h2 {
        max-width: 300px;
    }
}

/* Второй контейнер */

.container-2 {
    max-width: 288px;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.container-2 ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-2 ul h4 {
    max-width: 210px;
}

.container-2 ul li div {
    width: 288px;
    height: 83px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-top: 8px;
}

.container-2 div {
    width: 288px;
    height: 83px;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-2 div svg {
    padding-left: 16px;
}

.container-2 .blue {
    width: 100vw;
    height: 185px;
    padding-top: 16px;
    background: #034599;
    display: flex;
    flex-direction: column;
}

.container-2 .blue h4 {
    color: #FFF;
    max-width: 288px;
    margin: 0;
    padding-bottom: 16px;
}

.container-2 .blue .blue-container {
    width: 288px;
    height: 103px;
    display: flex;
    flex-direction: row;
}

.container-2 .light-blue {
    width: 136px;
    height: 103px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #02A1E3;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: normal;
}

.light-blue p,
h4 {
    margin: 0;
    padding: 0;
    text-align: left;
}

.light-blue p {
    width: 73px;
    padding-top: 8px;
    padding-left: 12px;
}

.light-blue h4 {
    padding-top: 12px;
    padding-left: 12px;
}

/* Контейнер третий */

.container-3 {
    width: 288px;
    padding-top: 56px;
    display: flex;
    flex-direction: column;
}

.container-3 ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-3 ul {
    margin: 0;
}

.ul-1 {
    margin-top: 16px;
}

.container-3 ul li div {
    width: 288px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #02A1E3;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.container-3 h4 {
    color: #FFF;
    padding-top: 24px;
    padding-left: 16px;
}

.container-3 svg {
    margin-top: 28px;
    margin-right: 16px;
}

@media screen and (min-width: 768px) {
    .container-3 {
        display: flex;
        width: 606px;
        transition: 0.2s ease;
    }

    .ul-wrapper {
        display: flex;
        justify-content: space-between;
    }

    .ul-1 {
        margin-right: 10%;
    }

    .container-3 ul li {
        padding-top: 10px;
    }
}

/* Четвертый контейнер */

.discount {
    width: 288px;
    height: 262px;
}

.discount div {
    width: 288px;
    height: 262px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #034599;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discount div h4 {
    padding-top: 16px;
    padding-left: 24px;
    width: 240px;
}

.discount div img {
    padding-top: 36px;
    display: flex;
    padding-left: 87px;
}

.discount .pensioner svg {
    display: flex;
    padding-top: 48px;
    padding-left: 124px;
}

.discount .military svg {
    display: flex;
    padding-top: 23px;
    padding-left: 124px;
}

.discount .children svg {
    display: flex;
    padding-top: 23px;
    padding-left: 124px;
}


.container-4 .container {
    display: none;
}

.container-4 .container.active {
    display: block;
}

.csvg {
    width: 112px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-left: 88px;
    margin-top: -45px;
}

/* Отзывы */

.container-5 {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
}

.container-5 ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 95vw;
}

.container-5 ul::-webkit-scrollbar {
    display: none;
}

.container-5 ul li {
    width: 231px;
    height: 273px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 6px 4px 25px 0px rgba(201, 221, 246, 0.20);
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.container-5 li h3,
h4 {
    padding-left: 16px;
}

/* Контакты */

.container-6 {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    width: 288px;
    text-align: left;
}

.container-6 h2 {
    padding-bottom: 32px;
    padding-left: 92px;
}

.container-6 h4 {
    padding: 0;
    padding-bottom: 12px;
}

.container-6 .blue {
    display: flex;
    justify-content: space-between;
    width: 288px;
}

.container-6 .bluebox {
    width: 136px;
    height: 103px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #02A1E3;
}

.bluebox p {
    width: 73px;
    display: flex;
    text-align: left;
    margin: 0;
    padding-left: 12px;
    padding-top: 8px;
}

.bluebox h4 {
    color: #FFF;
    padding-top: 12px;
    padding-left: 12px;
}

.container-6 .map {
    width: 288px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 6px 4px 25px 0px rgba(201, 221, 246, 0.20);
    margin-top: 22px;
    overflow: hidden;
}

/* 777777777 */

.container-7 {
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.container-7 .blueback {
    width: 100vw;
    height: 161px;
    background: #034599;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blueback h4 {
    color: #FFF;
    max-width: 288px;
    padding-top: 12px;
}

.container-7 a {
    margin-top: 16px;
    display: inline-flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FF8A1E;
    text-decoration: none;
}

.container-7 a span {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Футер */

.footer {
    width: 100vw;
    height: 237px;
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-top: 56px;
    background: #BAD8FF;
}

.footer ul {
    list-style-type: none;
}

.footer ul li {
    padding-top: 12px;
}

.footer ul li a {
    color: #000;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
}

.footer img {
    position: relative;
    padding-top: 184px;
    padding-right: 20px;
}