/* Шрифты */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Source+Sans+3:wght@300;400&display=swap');

@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Ukij';
    src: url(fonts/UKIJInichkeb.ttf);
}


/* ---------- */

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: #ECF4FF;
}

h1 {
    color: #000;
    font-family: Ukij;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

h2 {
    padding-top: 56px;
    color: #000;
    font-family: Ukij;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h3 {
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

p {
    color: #FFF;
    text-align: right;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

h4 {
    color: #000;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 48px;
        line-height: 48px;
    }

    h2 {
        font-size: 36px;
    }
}

@media screen and (min-width: 1440px) {
    h1 {
        font-size: 64px;
        line-height: normal;
    }

    h2 {
        font-size: 47px;
        line-height: normal;
    }

    h3 {
        font-size: 24px;
        line-height: 30px;
    }

    h4 {
        font-size: 16px;
        line-height: 30px;
    }
}

/* Хедер */

.header {
    top: 0px;
    width: 100%;
    height: 53px;
    position: fixed;
    background: #ECF4FF;
    display: flex;
    align-items: center;
    z-index: 99;
}

.logo {
    padding-left: 16px;
}

.header-btn {
    width: auto;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    right: 44px;
}

.black {
    position: absolute;
}

.header-desctop {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

@media screen and (min-width: 1024px) {
    .header {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .header-desctop {
        opacity: 1;
        width: 100vw;
        height: 93px;
        position: fixed;
        box-sizing: border-box;
        background: #ECF4FF;
        top: 0;
        z-index: 100;
        transition: 0.3s ease;
    }

    .header-desctop .header-logo {
        position: absolute;
        margin-top: 16px;
        padding-left: 72px;
    }

    .header-desctop ul {
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
        padding-top: 6px;
        padding-right: 8px;
    }

    .header-desctop ul a {
        color: #000;
        font-family: Lato;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }

    .header-desctop .menu svg {
        margin-left: 12px;
    }

    .header-desctop ul li {
        display: flex;
        align-items: center;
        list-style: none;
        padding-right: 56px;
    }

    .header-desctop .menu a:hover {
        transform: scale(1.05);
        transform: translateY(-2px);
    }

    .header-desctop .menu a:active {
        transform: scale(0.95);
        transform: translateY(0);
    }

    .header-desctop .dropdown {
        width: auto;
        height: auto;
        top: 82px;
        display: flex;
        position: absolute;
        border-radius: 10px;
        background: #ECF4FF;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
        align-items: stretch;
        text-align: left;
    }

    .header-desctop .dropdown a {
        width: 111px;
        margin: 8px 8px 8px 8px;
        font-size: 20px;
    }

    .header-desctop .left-column,
    .right-column {
        display: flex;
        flex-direction: column;
        padding-right: 32px;
        padding-bottom: 16px;
    }

    .header-desctop .left-column {
        padding-left: 32px;
    }

    .header-desctop li:hover .dropdown {
        opacity: 1;
        visibility: visible;
    }

    .header-desctop li:hover svg {
        transform: rotate(180deg);
        transition: 0.3s ease;
    }
}

/* Первый контейнер */

.container-1 {
    width: 288px;
    padding-top: 69px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.container-1 .mobGirl-img {
    margin-bottom: 16px;
    margin-top: 16px;
}

.container-1 .upMobGirl-img {
    position: absolute;
    opacity: 0;
    z-index: -100;
}

.container-1 .dMobGirl-img {
    position: absolute;
    opacity: 0;
    z-index: -100;
}

.container-1 .dGirl-img {
    position: absolute;
    opacity: 0;
    z-index: -100;
}

.container-1 h4 {
    padding: 0;
}

.container-1 a {
    margin-top: 16px;
    display: inline-flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FF8A1E;
    text-decoration: none;
}

.container-1 a:hover {
    box-shadow: 0px 0px 20px 0px rgba(255, 138, 30, 0.70);
}

.container-1 a:active {
    box-shadow: 0px 4px 4px 0px rgba(103, 56, 0, 0.25) inset;
}


.container-1 a span {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.container-1 ul {
    list-style-type: none;
    opacity: 0;
    z-index: -1;
    position: absolute;
}

@media screen and (min-width: 768px) {
    .container-1 {
        width: 592px;
        transition: 0.2s ease;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
    }

    .container-1 .mobGirl-img {
        position: absolute;
        opacity: 0;
        z-index: -100;
    }

    .container-1 .upMobGirl-img {
        opacity: 1;
        margin-top: 18px;
        right: 0;
    }

    .container-1 .mCh1,
    .mCh3,
    .mCh4 {
        position: absolute;
        opacity: 0;
    }

    .container-1 ul {
        position: relative;
        opacity: 1;
        z-index: none;
        padding: 0;
        margin: 0;
        padding-bottom: 30px;
    }

    .container-1 ul li {
        margin-top: -10px;
        max-width: 300px;
    }

    .container-1 a span {
        font-size: 18px;
    }
}

@media screen and (min-width: 1024px) {
    .container-1 {
        width: 893px;
        align-items: flex-start;
    }

    .container-1 .upMobGirl-img {
        position: absolute;
        opacity: 0;
        z-index: -100;
    }

    .container-1 .dMobGirl-img {
        opacity: 1;
        margin-top: 18px;
        right: 0;
    }

    .container-1 ul {
        padding-bottom: 200px;
    }

    .container-1 ul li {
        max-width: 440px;
    }

    .container-1 a {
        width: 355px;
    }

    .container-1 a span {
        font-size: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .container-1 {
        width: 1149px;
    }

    .container-1 .dMobGirl-img {
        position: absolute;
        opacity: 0;
        z-index: -100;
    }

    .container-1 .dGirl-img {
        opacity: 1;
        margin-top: 18px;
        right: 0;
    }

    .container-1 ul {
        padding-bottom: 140px;
    }

    .container-1 ul li {
        max-width: 670px;
    }
}

/* Второй контейнер */

.container-2 {
    width: 288px;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.container-2 ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.with-arr-li {
    position: absolute;
    opacity: 0;
}

.container-2 .arr h4 {
    max-width: 210px;
}

.arr div {
    width: 288px;
    height: 83px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    margin-top: 8px;
}

.container-2 div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container-2 .ar-i {
    flex-direction: column;
}

.container-2 div svg {
    padding-left: 16px;
}

.container-2 .image:not(:first-child) {
    display: none;
}

.container-2 img {
    width: 288px;
}

@media screen and (min-width: 768px) {
    .container-2 {
        width: 592px;
        transition: all 0.3s ease;
    }

    .without-arr-li {
        position: absolute;
        opacity: 0;
    }

    .with-arr-li {
        position: relative;
        opacity: 1;
    }

    .with-arr-li ul {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        margin-bottom: 24px;
    }

    .container-2 img {
        width: 320px;
    }

    .with-arr-li ul svg {
        box-sizing: inherit;
    }

    .container-2 .ar-i {
        width: 592px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .container-2 .arr div {
        width: 288px;
        height: 164px;
        flex-shrink: 0;
        background: #FFF;
        flex-direction: column;
        align-items: start;
    }

    .container-2 .arr div svg {
        padding: 0;
        margin-top: 16px;
        margin-left: 16px;
    }

    .container-2 .arr div h4 {
        padding: 0;
        margin-top: 16px;
        margin-left: 16px;
        max-width: 272px;
    }

}

@media screen and (min-width: 1024px) {
    .container-2 {
        width: 893px;
    }

    .container-2 ul {
        flex-direction: row-reverse;
    }

    .container-2 img {
        width: 372px;
    }

    .container-2 .arr li div {
        margin-right: 16px;
    }
}

@media screen and (min-width: 1280px) {
    .container-2 {
        width: 1149px;
    }

    .container-2 img {
        width: 420px;
        margin-top: 72px;
    }

    .with-arr-li ul svg {
        box-sizing: inherit;
        margin-top: 72px;
    }
}

@media screen and (min-width: 1440px) {
    .container-2 {
        width: 1169px;
    }

    .container-2 img {
        width: 500px;
    }

    .container-2 .ar-i {
        width: 1169px;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    .container-2 .arr div {
        width: 288px;
        height: 164px;
        flex-shrink: 0;
        background: #FFF;
        flex-direction: column;
        align-items: start;
    }
}

.container-2 .blue {
    width: 100vw;
    height: 185px;
    padding-top: 16px;
    margin-top: 16px;
    background: #034599;
    display: flex;
    flex-direction: column;
}

.container-2 .blue h4 {
    color: #FFF;
    max-width: 288px;
    margin: 0;
    padding-bottom: 16px;
}

.container-2 .blue .blue-container {
    width: 288px;
    height: 103px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container-2 .light-blue {
    width: 136px;
    height: 103px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #02A1E3;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    align-items: normal;
}

.light-blue p,
h4 {
    margin: 0;
    padding: 0;
    text-align: left;
}

.light-blue p {
    width: 73px;
    padding-top: 8px;
    padding-left: 12px;
}

.light-blue h4 {
    padding-top: 12px;
    padding-left: 12px;
}

@media screen and (min-width: 768px) {
    .container-2 .blue {
        height: 205px;
        transition: all 0.3s ease;
    }

    .container-2 .blue h4 {
        max-width: 592px;
    }

    .container-2 .light-blue {
        width: 152px;
        height: 103px;
    }

    .light-blue p {
        width: 82px;
    }
}

@media screen and (min-width: 1024px) {
    .container-2 .blue {
        height: 204px;
        margin-top: 40px;
    }

    .container-2 .blue h4 {
        max-width: 678px;
    }

    .container-2 .blue p {
        width: 140px;
        padding-top: 16px;
        padding-left: 24px;
    }

    .container-2 .blue h4 {
        margin-bottom: 16px;
        padding-left: 24px;
    }

    .container-2 .light-blue {
        width: 270px;
        height: 120px;
    }
}

@media screen and (min-width: 1440px) {
    .container-2 .blue {
        height: 262px;
        margin-top: 56px;
    }

    .light-blue p {
        width: 140px;
        padding-top: 24px;
        padding-left: 24px;
    }

    .container-2 .blue-container {
        margin-top: 32px;
    }

    .light-blue h4 {
        width: 140px;
        padding-top: 16px;
        padding-left: 24px;
    }
}


/* Контейнер третий */

.container-3 {
    width: 288px;
    display: flex;
    flex-direction: column;
}

.container-3 ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ul-1 {
    margin-top: 16px;
}

.container-3 ul li div {
    width: 288px;
    height: 74px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #02A1E3;
    margin-bottom: 8px;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.container-3 h4 {
    padding-left: 16px;
    color: #FFF;
}

.container-3 svg {
    margin-right: 16px;
}

@media screen and (min-width: 768px) {
    .container-3 {
        display: flex;
        width: 100vw;
        background: #034599;
        transition: all 0.3s ease;
    }

    .ul-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 32px;
    }

    .ul-wrapper .ul-1 li {
        margin-top: 16px;
    }

    .ul-wrapper .ul-2 li {
        margin-top: 16px;
        margin-left: 16px;
    }

    .ul-3 {
        display: flex;
        justify-content: center;
    }

    .ul-3 li {
        margin-top: 8px;
        margin-bottom: 32px;
    }

    .container-3 ul li div {
        width: 288px;
        height: 98px;
    }
}

@media screen and (min-width: 1440px) {
    .container-3 {
        align-items: center;
    }

    .container-3 ul li div {
        width: 270px;
        height: 120px;
    }

    .ul-wrapper {
        display: flex;
        flex-direction: column;
    }

    .ul-wrapper .ul-1 li {
        margin-left: 16px;
    }

    .ul-1, .ul-2 {
        display: flex;
        flex-direction: row;
    }

    .ul-3 li div {
        margin-top: 8px;
    }

    .container-3 h4 {
        font-size: 24px;
        line-height: 30px;
        max-width: 174px;
    }
}

/* Четвертый контейнер */

.discount {
    width: 288px;
    height: 262px;
}

.discount div {
    width: 288px;
    height: 262px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #034599;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discount div h4 {
    padding-top: 16px;
    padding-left: 24px;
    width: 240px;
}

.dHeart,
.dMil,
.dChil {
    position: absolute;
    opacity: 0;
}

.discount div .mHeart {
    padding-top: 36px;
    display: flex;
    padding-left: 87px;
}

.discount div .mChil,
.mMil {
    padding-top: 33px;
}

.discount .pensioner svg,
.military svg,
.children svg {
    display: flex;
    padding-top: 48px;
    padding-left: 124px;
}

.discount .military svg,
.children svg {
    padding-top: 23px;
}

.container-4 .container {
    display: none;
}

.container-4 .container.active {
    display: block;
}

.csvg {
    width: 112px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-left: 88px;
    margin-top: -45px;
}

@media screen and (min-width: 768px) {
    .discount {
        width: 592px;
        height: 357px;
    }

    .discount div {
        width: 592px;
        height: 357px;
        border: 5px solid var(--main-dark-blue, #034599);
        transition: all 0.3s ease;
    }

    .mHeart,
    .mMil,
    .mChil {
        position: absolute;
        opacity: 0;
    }

    .dHeart,
    .dMil,
    .dChil {
        position: relative;
        opacity: 1;
        padding-left: 260px;
    }

    .dHeart {
        margin-top: 30px;
    }

    .dChil {
        margin-top: -30px;
        margin-left: 40px;
    }

    .dMil {
        margin-top: -20px;
        margin-left: 40px;
    }

    .discount div h4 {
        padding-top: 40px;
        padding-left: 40px;
        width: 290px;
    }

    .csvg {
        margin-left: 236px;
    }

    .discount .pensioner svg,
    .military svg,
    .children svg {
        display: flex;
        padding-left: 268px;
    }

    .discount .pensioner svg {
        margin-top: -23px;
    }

    .discount .children svg {
        margin-top: -4px;
    }
}

@media screen and (min-width: 1024px) {
    .csvg svg {
        width: 56px;
        height: 56px;
    }

    .csvg {
        width: 682px;
        margin-left: -40px;
        margin-top: -198px;
        transition: all 0.3s ease;
    }
}

@media screen and (min-width: 1440px) {
    .container-4 h4 {
        font-size: 20px;
    }
}


/* Отзывы */

.container-5 {
    display: flex;
    flex-direction: column;
}

.container-5 ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    scrollbar-width: none;
    width: 90vw;
}

.container-5 ul::-webkit-scrollbar {
    display: none;
}

.container-5 ul li {
    width: 231px;
    height: 273px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 6px 4px 25px 0px rgba(201, 221, 246, 0.20);
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.container-5 li h3,
.container-5 li h4 {
    padding-left: 16px;
}

.container-5 h4 {
    width: 198px;
    height: 200px;
    overflow-y: auto;
}

.container-5 h4::-webkit-scrollbar {
    width: 10px;
}

.container-5 h4::-webkit-scrollbar-thumb {
    background: #02A1E3
}

@media screen and (min-width: 768px) {
    .container-5 ul li {
        width: 288px;
        height: 273px;
    }

    .container-5 h4 {
        width: 247px;
        height: 150px;
    }
}

@media screen and (min-width: 1024px) {
    .container-5 ul li {
        width: 440px;
        height: 430px;
    }

    .container-5 ul li h4 {
        max-width: 336px;
    }

    .container-5 li h3,
    .container-5 li h4 {
        padding-left: 48px;
        padding-top: 36px;
    }

    .container-5 h4 {
        width: 336px;
        height: 220px;
    }
}

@media screen and (min-width: 1440px) {
    .container-5 ul li {
        width: 470px;
        height: 430px;
    }

    .container-5 ul li h4 {
        max-width: 336px;
    }

    .container-5 li h3,
    .container-5 li h4 {
        padding-left: 64px;
        padding-top: 34px;
    }

    .container-5 h4 {
        width: 336px;
        height: 210px;
    }
}

/* Контакты */

.container-6 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 288px;
    text-align: left;
}

.container-6 h2 {
    padding-bottom: 32px;
    padding-left: 92px;
}

.container-6 h4 {
    padding: 0;
    padding-bottom: 12px;
}

.container-6 .blue {
    display: flex;
    justify-content: space-between;
    width: 288px;
}

.container-6 .bluebox {
    width: 136px;
    height: 103px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #02A1E3;
}

.bluebox p {
    width: 73px;
    display: flex;
    text-align: left;
    margin: 0;
    padding-left: 12px;
    padding-top: 8px;
}

.bluebox h4 {
    color: #FFF;
    padding-top: 12px;
    padding-left: 12px;
}

.container-6 .map {
    width: 288px;
    height: 160px;
    flex-shrink: 0;
    border-radius: 10px;
    box-shadow: 6px 4px 25px 0px rgba(201, 221, 246, 0.20);
    margin-top: 22px;
    overflow: hidden;
}

.container-6 h4 svg {
    position: absolute;
    top: 162px;
}

.telega {
    margin-left: 28px;
}

@media screen and (min-width: 768px) {
    .container-6 {
        width: 592px;
    }

    .container-6 h4 {
        max-width: 276px;
    }

    .container-6 .map {
        position: absolute;
        width: 304px;
        height: 222px;
        right: 0;
        margin: 0;
        overflow: none;
    }

    .container-6 .blue {
        width: 592px;
    }

    .container-6 .bluebox {
        width: 288px;
    }

    .bluebox p {
        width: 180px;
    }

    .container-6 h4 svg {
        top: 186px;
    }
}

@media screen and (min-width: 1024px) {
    .container-6 {
        width: 896px;
    }

    .container-6 h4 {
        max-width: 440px;
    }

    .container-6 .map {
        width: 440px;
        height: 320px;
    }

    .container-6 .map iframe {
        width: 440px;
        height: 320px;
    }

    .container-6 .blue {
        width: 438px;
    }

    .container-6 .bluebox {
        width: 212px;
    }

    .container-6 h4 svg {
        top: 136px;
    }
}

@media screen and (min-width: 1440px) {
    .container-6 {
        width: 1169px;
    }

    .container-6 .blue {
        width: 570px;
    }

    .container-6 .bluebox {
        width: 270px;
    }

    .container-6 .map {
        width: 570px;
        height: 320px;
        margin-top: 16px;
    }

    .container-6 .map iframe {
        width: 570px;
        height: 320px;
    }

    .container-6 h4 {
        max-width: 443px;
    }
    
    .container-6 h4 svg {
        top: 129px;
    }
}

/* h2 */

.c-7-h-2 {
    z-index: -100;
    opacity: 0;
    position: absolute;
}

@media screen and (min-width: 1440px) {
    .c-7-h-1 {
        z-index: -100;
        opacity: 0;
        position: absolute;
    }

    .c-7-h-2 {
        z-index: 1;
        opacity: 1;
        position: relative;
    }
}

/* 777777777 */

.container-7 {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.container-7 .blueback {
    width: 100vw;
    height: 161px;
    background: #034599;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.blueback h4 {
    color: #FFF;
    max-width: 288px;
    padding-top: 12px;
}

.container-7 a {
    margin-top: 16px;
    display: inline-flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FF8A1E;
    text-decoration: none;
}

.container-7 a:hover {
    box-shadow: 0px 0px 20px 0px rgba(255, 138, 30, 0.70);
}

.container-7 a:active {
    box-shadow: 0px 4px 4px 0px rgba(103, 56, 0, 0.25) inset;
}

.container-7 a span {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media screen and (min-width: 768px) {
    .container-7 .blueback {
        height: 141px;
    }

    .blueback h4 {
        max-width: 456px;
    }

    .container-7 a {
        margin-top: 24px;
        display: flex;
        width: 355px;
    }

    .container-7 a span {
        font-size: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .container-7 .blueback {
        height: 254px;
    }

    .container-7 h4 {
        padding-top: 64px;
    }
}

/* Футер */

.footer {
    width: 100vw;
    height: 237px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    margin-top: 56px;
    background: #BAD8FF;
}

.footer ul {
    list-style-type: none;
}

.footer ul li {
    padding-top: 12px;
}

.footer ul li a {
    color: #000;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
}

.footer img {
    position: relative;
    padding-top: 184px;
    padding-right: 20px;
}