@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Ukij';
    src: url(fonts/UKIJInichkeb.ttf);
}

body {
    background: #ECF4FF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    text-align: center;
    padding-bottom: 74px;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
}

p {
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 32px;
    }

    p {
        line-height: 25px;
    }
}

a {
    text-decoration: none;
}

/* Хедер */

.header {
    top: 0px;
    width: 100%;
    height: 53px;
    position: fixed;
    background: #ECF4FF;
    display: flex;
    align-items: center;
    z-index: 99;
}

.logo {
    padding-left: 16px;
}

.header-btn {
    width: auto;
    height: auto;
    position: absolute;
    display: flex;
    align-items: center;
    right: 44px;
}

.black {
    position: absolute;
}

.header-desctop {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

@media screen and (min-width: 1024px) {
    .header {
        position: absolute;
        opacity: 0;
        z-index: -1;
    }

    .header-desctop {
        opacity: 1;
        width: 100vw;
        height: 82px;
        position: fixed;
        box-sizing: border-box;
        background: #ECF4FF;
        top: 0;
        z-index: 100;
    }

    .header-desctop .header-logo {
        position: absolute;
        margin-left: 16px;
        margin-top: 16px;
    }

    .header-desctop ul {
        height: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: right;
    }

    .header-desctop ul a {
        text-decoration: none;
        color: #000;
        font-family: 'Lato';
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
    }

    .header-desctop .menu svg {
        margin-left: 2px;
    }

    .header-desctop ul li {
        display: flex;
        align-items: center;
        list-style: none;
        padding-right: 56px;
    }

    .header-desctop .menu a:hover {
        transform: scale(1.05);
        transform: translateY(-2px);
    }

    .header-desctop .menu a:active {
        transform: scale(0.95);
        transform: translateY(0);
    }

    .header-desctop .dropdown {
        width: auto;
        height: auto;
        top: 82px;
        display: flex;
        position: absolute;
        border-radius: 10px;
        background: #ECF4FF;
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease;
        align-items: stretch;
        text-align: left;
    }

    .header-desctop .dropdown a {
        width: 111px;
        margin: 8px 8px 8px 8px;
    }

    .header-desctop .left-column,
    .right-column {
        display: flex;
        flex-direction: column;
        padding-right: 32px;
    }

    .header-desctop li:hover .dropdown {
        opacity: 1;
        visibility: visible;
    }

    .header-desctop li:hover svg {
        transform: rotate(180deg);
        transition: 0.3s ease;
    }
}


/* Вакансии */

.container-1 {
    max-width: 970px;
    min-height: 301px;
    margin-top: 120px;
    padding: 0 50px;
}

/* Правовая информация */

.container-2 {
    max-width: 970px;
    min-height: 1290px;
    margin-top: 120px;
    padding: 0 50px;
}

/* Лицензии */

.container-3 {
    max-width: 970px;
    min-height: 1080px;
    margin-top: 120px;
    padding: 0 50px;
}

@media screen and (max-width: 768px) {
    .container-1,
    .container-2,
    .container-3 {
        margin-top: 56px;
    }
}

/* Футер */

.footer {
    width: 100vw;
    height: 237px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: left;
    margin-top: 56px;
    background: #BAD8FF;
}

.footer ul {
    list-style-type: none;
}

.footer ul li {
    padding-top: 12px;
}

.footer ul li a {
    color: #000;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-decoration: none;
}

.footer img {
    position: relative;
    padding-top: 184px;
    padding-right: 20px;
}