@font-face {
    font-family: 'Lato';
    src: url(../clinicWeb/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Ukij';
    src: url(../clinicWeb/fonts/UKIJInichkeb.ttf);
}

body {
    background: #dfebfb;
    position: relative;
}

/* Хедер */

.header {
    width: 100%;
    height: 82px;
    position: fixed;
    box-sizing: border-box;
    background: #ECF4FF;
    top: 0;
    z-index: 100;
}

/* Логотип */

.header-logo {
    padding: 16px 0 15px 9.375%;
    position: absolute;
    width: 51.049px;
    height: 51px;
}

/* Меню */

.menu {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3.89%;
    padding-right: 9.375%;
    padding-top: 0.5%;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.menu svg {
    margin-left: 12px;
}

li {
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
}

.menu a:hover {
    transform: scale(1.05);
    transform: translateY(-2px);
}

.menu a:active {
    transform: scale(0.95);
    transform: translateY(0);
}

/* Выпадающее меню */

.dropdown {
    width: auto;
    height: auto;
    box-sizing: border-box;
    display: flex;
    position: absolute;
    top: 40px;
    padding: 16px 32px;
    border-radius: 10px;
    background: #ECF4FF;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    align-items: flex-start;
}

.dropdown a {
    color: #000;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 138.889% */
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
}

.left-column {
    margin-right: 32px;
}

.drop-1 {
    width: 89px;
    height: 25px;
}

.drop-2 {
    width: 83px;
    height: 25px;
}

.drop-3 {
    width: 79px;
    height: 25px;
}

.drop-4 {
    width: 111px;
    height: 50px;
}

.drop-1,
.drop-2,
.drop-3,
.drop-4 {
    margin: 16px 0;
}

li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    margin-top: -16px;
}

li:hover svg {
    transform: rotate(180deg);
    transition: 0.3s ease;
    flex-shrink: 0;
}

/* Первый слайд */

.container-1 {
    height: 500px;
    padding-top: 162px;
    padding-left: 9.375%;
    display: flex;
}

.container-1 img {
    width: 400px;
    height: 500px;
    position: absolute;
    right: 0;
    padding-right: 135px;
}

.container-1 h2 {
    color: #000;
    font-family: 'Ukij';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
    padding-right: 6.875%;
}

.container-1 h3 {
    color: #000;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}

.container-1 p {
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    max-width: 570px;
    /* 187.5% */
}

.container-1 a {
    width: 371px;
    height: 64px;
    text-decoration: none;
    margin-top: 150px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #FF8A1E;
    border: none;
}

.container-1 a:hover {
    box-shadow: 0px 0px 20px 0px rgba(255, 138, 30, 0.70);
    background-color: #FFA84A;
}

.container-1 a:active {
    box-shadow: 0px 4px 4px 0px rgba(103, 56, 0, 0.25) inset;
    background-color: #FF8A1E;
}

.container-1 a p {
    width: 265px;
    height: 30px;
    margin-top: 17px;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

/* Второй слайд */

.container-2 {
    height: 762px;
    padding-top: 140px;
    padding-left: 9.375%;
    padding-right: 9.375%;
    box-sizing: border-box;
}

.container-2 h1 {
    margin: 0 auto;
    width: max-content;
    top: 0;
    left: 50%;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom: 3.5%;
}

.container-2 p {
    text-align: left;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.slideshow {
    position: absolute;
    width: 596px;
    height: 355px;
    margin-top: 135px;
    right: 9.375%;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.photo-container {
    display: flex;
    width: 500px;
    height: 355px;
    overflow: hidden;
    position: relative;
    margin-left: 48px;
}

.slide {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.arrow-left,
.arrow-right {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    position: absolute;
}

.arrow-left {
    left: 1px;
}

.arrow-right {
    right: 1px;

}

.arrow-left:hover {
    transform: scale(1.05);
    transform: translateX(-1px);
}

.arrow-left:active {
    transform: scale(0.95);
    transform: translateX(0);
}

.arrow-right:hover {
    transform: scale(1.05);
    transform: translateX(1px);
}

.arrow-right:active {
    transform: scale(0.95);
    transform: translateX(0);
}

.tick-info {
    height: 176px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin-top: 8%;
}

.info-with-tick {
    width: 270px;
    height: 176px;
    flex-grow: 1;
    margin-right: 30px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 6px 4px 25px 0px rgba(201, 221, 246, 0.20);
}

.info-with-tick-4 {
    width: 270px;
    height: 176px;
    flex-grow: 1;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 6px 4px 25px 0px rgba(201, 221, 246, 0.20);
}

.info-with-tick svg,
.info-with-tick-4 svg {
    margin-top: 16px;
    margin-left: 16px;
}

.tick-info p {
    text-align: left;
    max-width: 212px;
    padding-left: 16px;
}

/* Информация о времени */

.container-2-1 {
    margin-top: 18%;
    height: 262px;
    display: flex;
    justify-content: center;
    background: var(--main-dark-blue, #034599);
    position: relative;
    box-sizing: border-box;
}

.text-container-2-1 {
    position: absolute;
    padding-top: 40px;
    text-align: center;
    color: #FFF;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.background {
    margin-top: 102px;
    width: 570px;
    display: flex;
    box-sizing: border-box;
}

.background-1 {
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--main-light-blue, #02A1E3);
}

.background-2 {
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 10px;
    margin-left: 30px;
    background: var(--main-light-blue, #02A1E3);
}

.background-1 h4,
.background-2 h4 {
    margin-top: 24px;
    margin-left: 24px;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.background-1 p,
.background-2 p {
    margin-left: 24px;
    margin-top: -12px;
    color: #FFF;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

/* Услуги */

.container-3 {
    height: 615px;
    padding-top: 100px;
    display: flex;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.container-3 a{
    text-decoration: none;
}

.container-3 h3 {
    position: absolute;
    margin-top: -420px;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.container-3-background {
    margin-top: 144px;
    width: 100%;
    height: 496px;
    background: var(--main-dark-blue, #034599);
    display: flex;
    justify-content: center;
}

.container-3-background .blue-stick {
    margin-top: 12px;
    margin-left: 200px;
    width: 770px;
    height: 2px;
    background: #034599;
}

.container-3-background p {
    max-width: 174px;
    text-align: left;
    color: #FFF;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.line-1,
.line-2,
.line-3 {
    position: absolute;
    display: flex;
    box-sizing: border-box;
}

.line-1 {
    margin-top: 40px;
}

.line-2 {
    margin-top: 188px;
}

.line-3 {
    margin-top: 336px;
}

.square-1,
.square-2,
.square-3,
.square-4,
.square-5,
.square-6,
.square-7,
.square-8,
.square-10 {
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--main-light-blue, #02A1E3);
    cursor: pointer;
}

.square-2,
.square-3,
.square-4,
.square-6,
.square-7,
.square-8,
.square-10 {
    margin-left: 30px;
}

@media screen and (min-width: 1600px) {
    .container-3 h3 {
        font-size: 72px;
    }
}

.sq-1-p,
.sq-2-p,
.sq-3-p,
.sq-4-p,
.sq-5-p,
.sq-7-p,
.sq-9-p,
.sq-10-p {
    margin-top: 45px;
    margin-left: 32px;
}

.sq-6-p,
.sq-8-p {
    margin-top: 30px;
    margin-left: 32px;
}

.square-1 svg,
.square-2 svg,
.square-3 svg,
.square-4 svg,
.square-5 svg,
.square-6 svg,
.square-7 svg,
.square-8 svg,
.square-9 svg,
.square-10 svg {
    width: 11.95px;
    height: 11.95px;
    flex-shrink: 0;
    position: absolute;
}

.square-1 svg {
    margin-left: 75px;
    margin-top: 10px;
}

.square-2 svg {
    margin-left: 51px;
    margin-top: 10px;
}

.square-3 svg {
    margin-left: 108px;
    margin-top: 10px;
}

.square-4 svg {
    margin-left: 58px;
    margin-top: 10px;
}

.square-5 svg {
    margin-left: 150px;
    margin-top: 10px;
}

.square-6 svg {
    margin-left: 125px;
}

.square-7 svg {
    margin-left: 61px;
    margin-top: 10px;
}

.square-8 svg {
    margin-left: 52px;
}

.square-9 svg {
    margin-left: 94px;
    margin-top: 10px;
}

.square-10 svg {
    margin-left: 58px;
    margin-top: 10px;
}

/* Четвертый слайд Четвертый слайд Четвертый слайд Четвертый слайд Четвертый слайд*/

.container-4 {
    width: 100%;
    height: 519px;
    margin-top: 120px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
}

.container-4 h2 {
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
    position: absolute;
    top: 0;
}

.slider-with-svg p {
    padding-top: 64px;
    padding-left: 70px;
    text-align: left;
    color: #000;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}

.slider-with-svg {
    width: 864px;
    height: 400px;
    top: 209px;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
}

.c-4-pensioner,
.c-4-military,
.c-4-children {
    width: 770px;
    height: 400px;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    border-radius: 10px;
    border: 5px solid var(--main-dark-blue, #034599);
    position: absolute;
}

.cont-4-arr-left {
    position: absolute;
    left: 0;
    top: 168px;
}

.cont-4-arr-right {
    position: absolute;
    right: 0;
    top: 168px;
}

.cont-4-arr-left:hover {
    transform: scale(1.05);
    transform: translateX(-1px);
}

.cont-4-arr-left:active {
    transform: scale(0.95);
    transform: translateX(0);
}

.cont-4-arr-right:hover {
    transform: scale(1.05);
    transform: translateX(1px);
}

.cont-4-arr-right:active {
    transform: scale(0.95);
    transform: translateX(0);
}

.c-4-pensioner p {
    max-width: 288px;
}

.c-4-military p {
    max-width: 349px;
}

.c-4-children p {
    max-width: 435px;
}

.c-4-svg {
    position: absolute;
    bottom: 24px;
    left: 45%;
}

.c-4-content-svg {
    position: absolute;
    right: 70px;
    top: 98px;
}

/* Озывы */

.container-5 {
    height: 549px;
    margin-top: 220px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.container-5 h2 {
    position: absolute;
    top: 0;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.reviews-container {
    height: 430px;
    position: relative;
    margin-top: 172px;
    display: flex;
    box-sizing: border-box;
    padding-left: 135px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.reviews-container::-webkit-scrollbar {
    display: none;
}

.reviews {
    min-width: 470px;
    min-height: 430px;
    text-align: left;
    display: inline;
    margin-left: 30px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 6px 4px 25px 0px rgba(201, 221, 246, 0.20);
}

.reviews h5 {
    padding-top: 64px;
    padding-left: 64px;
    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.reviews p {
    padding-left: 64px;
    color: #000;
    font-family: 'Lato';
    max-width: 336px;
    max-height: 210px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

/* Контакты */

.container-6 {
    height: 439px;
    margin: 190px 9.375% 0 9.375%;
    position: relative;
}

.container-6 h2 {
    text-align: center;
    padding-bottom: 40px;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-6 p,
.cont-6-blue {
    margin-left: 0;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.cont-6-square {
    display: flex;
}

.telegram {
    text-decoration: none;
}

.cont-6-blue {
    width: 270px;
    height: 106px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--main-light-blue, #02A1E3);
    margin-right: 30px;
}

.cont-6-blue h5 {
    margin-top: 24px;
    margin-left: 24px;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */

}

.cont-6-blue p {
    margin-top: -21px;
    margin-left: 23px;
    color: #FFF;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.map {
    position: absolute;
    top: 132px;
    right: 0;
    width: 570px;
    height: 320px;
}

/* Запись на консультацию */

.container-7 {
    margin-top: 150px;
    width: 100%;
    height: 373px;
    align-items: center;
    text-align: center;
}

.container-7 h2 {
    padding-bottom: 48px;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-7 p {
    padding-top: 64px;
    color: #FFF;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.container-7 h6 {
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.cont-7-blue-back {
    height: 254px;
    background: var(--main-dark-blue, #034599);
}

.container-7 a {
    margin-top: 12px;
    width: 371px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FF8A1E;
    text-decoration: none;
}

.container-7 a:hover {
    /* Кнопка при наведении */
    box-shadow: 0px 0px 20px 0px rgba(255, 138, 30, 0.70);
    background-color: #FFA84A;
}

.container-7 a:active {
    /* Кнопка при нажатии */
    box-shadow: 0px 4px 4px 0px rgba(103, 56, 0, 0.25) inset;
    background-color: #FF8A1E;
}

/* Футер футер футер Футер футер футер Футер футер футер  */

.footer {
    width: 100%;
    height: 226px;
    margin-top: 120px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    background: #BAD8FF;
}

.footer-logo {
    position: absolute;
    padding-top: 32px;
    padding-left: 133px;
    cursor: pointer;
}

.footer ul {
    align-items: center;
    text-align: left;
    padding-left: 72px;
}

.footer ul a {
    text-decoration: none;
    padding-bottom: 16px;
    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.footer .col-7-1 {
    padding-left: 51%;
}

.footer .col-7-1,
.col-7-2,
.col-7-3 {
    padding-top: 38px;
}

.footer a:hover {
    transform: scale(1.05);
    transform: translateY(-2px);
}

.footer a:active {
    transform: scale(0.95);
    transform: translateY(0);
}