@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Ukij';
    src: url(fonts/UKIJInichkeb.ttf);
}

body {
    height: 2650px;
    display: flex;
    justify-content: center;
    background: var(--main-dark-blue, #034599);
}

.container {
    width: 81.25%;
    height: 2450px;
    border-radius: 10px;
    position: absolute;
    top: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    background: #ECF4FF;
}

/* Стили шрифтов */

.container h2 {
    color: #000;
    font-family: Ukij;
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
    text-align: center;
    padding-top: 131px;
}

.container h3 {
    color: #000;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
}

.container h4 {
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    max-width: 200px;
    text-align: left;
}

.container p {
    color: #000;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    text-align: left;
}

.container a {
    text-decoration: none;
}

.stick {
    min-width: 770px;
    height: 2px;
    background: #034599;
}

.container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 72px;
}

/* Создание */

.container h3 {
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 32px;
    padding-top: 45px;
}

.container .arrow {
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 56px;
    padding-right: 32px;
}

.container li div {
    min-width: 770px;
    display: flex;
    justify-content: space-between;
}

.h2-2 {
    margin: 0;
    padding: 0;
}

.text {
    width: 770px;
    padding-top: 72px;
}

/* Врачи направления */

.square-1-doctor {
    width: 370px;
    height: 627px;
    margin-top: 72px;
    display: flex;
    position: relative;
    justify-content: space-between;
    box-sizing: border-box;
}

.square-1-doctor-1 {
    width: 370px;
    height: 627px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #034599;
    display: flex;
    flex-direction: column;
}

.square-1-doctor img {
    margin-top: 24px;
    margin-left: 24px;
    width: 322px;
    height: 269px;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
}

.square-1-doctor h4 {
    margin-top: 16px;
    margin-left: 24px;
}

.square-1-doctor p {
    margin-left: 24px;
    margin-right: 24px;
    overflow-y: auto;
    max-height: 180px;
    -ms-overflow-style: none;
}

.square-1-doctor p::-webkit-scrollbar {
    width: 5px;
}

.square-1-doctor p::-webkit-scrollbar-thumb {
    background-color: transparent;
}

/* Кнопка */

.container .btn {
    margin-top: 74px;
    width: 371px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FF8A1E;
    text-decoration: none;
}

.container .btn p {
    width: 265px;
    height: 30px;
    margin-top: 17px;
    margin-left: 0;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.container .btn:hover {
    /* Кнопка при наведении */
    box-shadow: 0px 0px 20px 0px rgba(255, 138, 30, 0.70);
    background-color: #FFA84A;
}

.container .btn:active {
    /* Кнопка при нажатии */
    box-shadow: 0px 4px 4px 0px rgba(103, 56, 0, 0.25) inset;
    background-color: #FF8A1E;
}
