@font-face {
    font-family: 'Lato';
    src: url(../clinicWeb/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Ukij';
    src: url(../clinicWeb/fonts/UKIJInichkeb.ttf);
}



body {
    background: #dfebfb;
}

/* Хедер */

.header {
    width: 100%;
    height: 82px;
    position: fixed;
    box-sizing: border-box;
    background: #ECF4FF;
    top: 0;
    z-index: 100;
}

/* Логотип */

.header-logo {
    margin: 16px 0 15px 135px;
    position: absolute;
    width: 51.049px;
    height: 51px;
}

/* Меню */

.menu {
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 56px;
    margin: 26px 136px 26px 0;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.menu svg {
    margin-left: 12px;
}

li {
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
}

.menu a:hover {
    transform: scale(1.05);
    transform: translateY(-2px);
}

.menu a:active {
    transform: scale(0.95);
    transform: translateY(0);
}

/* Выпадающее меню */

.dropdown {
    width: auto;
    height: auto;
    box-sizing: border-box;
    display: flex;
    position: absolute;
    top: 40px;
    padding: 16px 32px;
    border-radius: 10px;
    background: #ECF4FF;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    align-items: flex-start;
}

.dropdown a {
    color: #000;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 138.889% */
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
}

.left-column {
    margin-right: 32px;
}

.drop-1 {
    width: 89px;
    height: 25px;
}

.drop-2 {
    width: 83px;
    height: 25px;
}

.drop-3 {
    width: 79px;
    height: 25px;
}

.drop-4 {
    width: 111px;
    height: 50px;
}

.drop-1,
.drop-2,
.drop-3,
.drop-4 {
    margin: 16px 0;
}

li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    margin-top: -16px;
}

li:hover svg {
    transform: rotate(180deg);
    transition: 0.3s ease;
    flex-shrink: 0;
}

/* Первый слайд */

.container-1 {
    width: 100%;
    height: 500px;
    padding: 162px 136px 0 135px;
    display: flex;
    box-sizing: border-box;
}

.container-info {
    width: 670px;
    height: 500px;
}

.container-1 h1 {
    color: #000;
    font-family: 'Ukij';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.container-1 h2 {
    margin-top: 24px;
    text-align: left;
    color: #000;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}

.container-1 p {
    margin-top: 12px;
    text-align: left;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.container-info .main-btn {
    width: 371px;
    height: 64px;
    text-decoration: none;
    margin-top: 150px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #FF8A1E;
    border: none;
}

.main-btn:hover {
    /* Кнопка при наведении */
    box-shadow: 0px 0px 20px 0px rgba(255, 138, 30, 0.70);
    background-color: #FFA84A;
}

.main-btn:active {
    /* Кнопка при нажатии */
    box-shadow: 0px 4px 4px 0px rgba(103, 56, 0, 0.25) inset;
    background-color: #FF8A1E;
}

.container-info .main-btn p {
    width: 265px;
    height: 30px;
    margin-top: 17px;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
    white-space: nowrap;
}

.container-1 img {
    width: 400px;
    height: 500px;
    margin-left: auto;
}

/* Второй слайд */

.container-2 {
    width: 100%;
    height: 762px;
    padding-top: 20%;
    margin: 0 auto;
    box-sizing: border-box;
}

.container-2 h1 {
    margin: 0 auto;
    width: max-content;
    top: 0;
    left: 50%;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.first-p-container-2 {
    margin-left: 135px;
    margin-top: 72px;
    width: 500px;
    text-align: left;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.second-p-container-2 {
    margin-top: 24px;
    margin-left: 135px;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.slideshow {
    position: absolute;
    width: 596px;
    height: 355px;
    margin-top: 125px;
    right: 135px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.photo-container {
    display: flex;
    width: 500px;
    height: 355px;
    overflow: hidden;
    position: relative;
    margin-left: 48px;
}

.slide {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.arrow-left,
.arrow-right {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    position: absolute;
}

.arrow-left {
    left: 1px;
}

.arrow-right {
    right: 1px;

}

.arrow-left:hover {
    transform: scale(1.05);
    transform: translateX(-1px);
}

.arrow-left:active {
    transform: scale(0.95);
    transform: translateX(0);
}

.arrow-right:hover {
    transform: scale(1.05);
    transform: translateX(1px);
}

.arrow-right:active {
    transform: scale(0.95);
    transform: translateX(0);
}

.tick-info {
    width: 1170px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin-top: 57px;
    margin-left: 135px;
}

.info-with-tick {
    width: 270px;
    height: 176px;
    flex-shrink: 0;
    margin-right: 30px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 6px 4px 25px 0px rgba(201, 221, 246, 0.20);
}

.info-with-tick-4 {
    width: 270px;
    height: 176px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 6px 4px 25px 0px rgba(201, 221, 246, 0.20);
}

.info-with-tick p,
.info-with-tick-4 p {
    margin-left: 16px;
    margin-bottom: 16px;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.info-with-tick svg,
.info-with-tick-4 svg {
    margin-top: 16px;
    margin-left: 16px;
}

.text-tick-1 {
    width: 175px;
}

.text-tick-2 {
    width: 117px;
}

.text-tick-3 {
    width: 212px;
}

.text-tick-4 {
    width: 182px;
}


/* Информация о времени */

.container-2-1 {
    margin-top: 20%;
    width: 100%;
    height: 262px;
    background: var(--main-dark-blue, #034599);
    position: relative;
    box-sizing: border-box;
}

.text-container-2-1 {
    padding-top: 40px;
    text-align: center;
    color: #FFF;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.background {
    display: flex;
    box-sizing: border-box;
}

.background-1 {
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--main-light-blue, #02A1E3);
    margin-left: 32%;
}

.background-2 {
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--main-light-blue, #02A1E3);
    margin-left: 30px;
}

.background-1 h4,
.background-2 h4 {
    margin-top: 24px;
    margin-left: 24px;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.background-1 p,
.background-2 p {
    margin-left: 24px;
    margin-top: -12px;
    color: #FFF;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

/* Услуги */

.container-3 {
    width: 100%;
    padding-top: 120px;
    display: flex;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.container-3 h3 {
    width: max-content;
    margin-top: 0;
    left: 45%;
    position: absolute;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-3-background {
    margin-top: 144px;
    width: 100%;
    height: 496px;
    background: var(--main-dark-blue, #034599);
}

.container-3-background .blue-stick {
    margin-top: 12px;
    margin-left: 200px;
    width: 770px;
    height: 2px;
    background: #034599;
}

.line-1,
.line-2,
.line-3 {
    display: flex;
    box-sizing: border-box;
}

.line-1 {
    margin-left: 11.6%;
    margin-top: 40px;
}

.line-2 {
    margin-left: 11.6%;
    margin-top: 28px;
}

.line-3 {
    margin-left: 31.5%;
    margin-top: 28px;
}

.square-1,
.square-2,
.square-3,
.square-4,
.square-5,
.square-6,
.square-7,
.square-8,
.square-9,
.square-10 {
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--main-light-blue, #02A1E3);
    cursor: pointer;
}

.square-2,
.square-3,
.square-4,
.square-6,
.square-7,
.square-8,
.square-10 {
    margin-left: 30px;
}

.sq-1-p,
.sq-2-p,
.sq-3-p,
.sq-4-p,
.sq-5-p,
.sq-6-p,
.sq-7-p,
.sq-8-p,
.sq-9-p,
.sq-10-p {
    text-align: left;
    color: #FFF;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}

.sq-1-p {
    width: 122px;
    height: 30px;
}

.sq-2-p {
    width: 146px;
    height: 30px;
}

.sq-3-p {
    width: 89px;
    height: 30px;
}

.sq-4-p {
    width: 139px;
    height: 30px;
}

.sq-5-p {
    width: 47px;
    height: 30px;
}

.sq-6-p {
    width: 160px;
    height: 60px;
}

.sq-7-p {
    width: 143px;
    height: 30px;
}

.sq-8-p {
    width: 174px;
    height: 60px;
}

.sq-9-p {
    width: 95px;
    height: 30px;
}

.sq-10-p {
    width: 143px;
    height: 30px;
}

.sq-1-p,
.sq-2-p,
.sq-3-p,
.sq-4-p,
.sq-5-p,
.sq-7-p,
.sq-9-p,
.sq-10-p {
    margin-top: 45px;
    margin-left: 32px;
}

.sq-6-p,
.sq-8-p {
    margin-top: 30px;
    margin-left: 32px;
}

.square-1 svg,
.square-2 svg,
.square-3 svg,
.square-4 svg,
.square-5 svg,
.square-6 svg,
.square-7 svg,
.square-8 svg,
.square-9 svg,
.square-10 svg {
    width: 11.95px;
    height: 11.95px;
    flex-shrink: 0;
    position: absolute;
}

.square-1 svg {
    margin-left: 75px;
    margin-top: 10px;
}

.square-2 svg {
    margin-left: 51px;
    margin-top: 10px;
}

.square-3 svg {
    margin-left: 108px;
    margin-top: 10px;
}

.square-4 svg {
    margin-left: 58px;
    margin-top: 10px;
}

.square-5 svg {
    margin-left: 150px;
    margin-top: 10px;
}

.square-6 svg {
    margin-left: 125px;
}

.square-7 svg {
    margin-left: 61px;
    margin-top: 10px;
}

.square-8 svg {
    margin-left: 52px;
}

.square-9 svg {
    margin-left: 94px;
    margin-top: 10px;
}

.square-10 svg {
    margin-left: 58px;
    margin-top: 10px;
}

/* Педиатрия */

.square-1-container-after {
    width: 1170px;
    height: auto;
    padding-bottom: 30px;
    border-radius: 10px;
    background: #ECF4FF;
    display: flex;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    margin-top: -98px;
    display: none;
    opacity: 0;
    z-index: 5;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    to {
        display: block;
        opacity: 1;
    }
}

.square-1-container-after h2 {
    text-align: center;
    justify-content: center;
    display: flex;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ped {
    margin-top: 45px;
    margin-left: 32px;
    color: #000;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}

.square-1-container-after svg {
    top: 0;
    margin-top: 45px;
    right: 32px
}

.square-1-price-1 p,
.square-1-price-2 p,
.square-1-price-3 p {
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.square-1-price-1,
.square-1-price-2,
.square-1-price-3 {
    width: 770px;
    height: 30px;
    margin-top: 12px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.square-1-price-1 {
    margin-top: 60px;
}

.doc-nap {
    margin-top: 120px;
}

.square-1-doctor {
    width: 770px;
    height: 627px;
    margin-left: 200px;
    margin-top: 72px;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.square-1-doctor-1,
.square-1-doctor-2 {
    width: 370px;
    height: 627px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #034599;
}

.square-1-doctor-2 {
    margin-left: 30px;
}

.square-1-doctor img {
    margin-top: 24px;
    margin-left: 24px;
    width: 322px;
    height: 269px;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
}

.square-1-doctor-1 img {
    background: url(../clinicWeb/images/doc_1.png), lightgray -20px -61.457px / 106.211% 169.517% no-repeat;
}

.square-1-doctor-2 img {
    background: url(../clinicWeb/images/doc_2.png), lightgray -20px -61.457px / 106.211% 169.517% no-repeat;
}

.square-1-doctor h5 {
    margin-top: 16px;
    margin-left: 24px;
    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.square-1-doctor-1 h5 {
    width: 176px;
    height: 60px;
}

.square-1-doctor-2 h5 {
    width: 322px;
    height: 60px;
}

.square-1-doctor h4 {
    margin-left: 24px;
    margin-right: 24px;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
    overflow-y: auto;
    max-height: 180px;
    /* scrollbar-width: thin;
    scrollbar-color: transparent transparent; */
    -ms-overflow-style: none;
}

.square-1-doctor h4::-webkit-scrollbar {
    width: 5px;
}

.square-1-doctor h4::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.square-1-container-after a {
    margin-top: 74px;
    margin-left: 399px;
    width: 371px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FF8A1E;
    text-decoration: none;
}

.square-1-container-after a p {
    width: 265px;
    height: 30px;
    margin-top: 17px;
    margin-left: 0;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.square-1-container-after a:hover {
    /* Кнопка при наведении */
    box-shadow: 0px 0px 20px 0px rgba(255, 138, 30, 0.70);
    background-color: #FFA84A;
}

.square-1-container-after a:active {
    /* Кнопка при нажатии */
    box-shadow: 0px 4px 4px 0px rgba(103, 56, 0, 0.25) inset;
    background-color: #FF8A1E;
}

/* Кардиология */

.square-2-container-after {
    width: 1170px;
    height: auto;
    padding-bottom: 30px;
    border-radius: 10px;
    background: #ECF4FF;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    margin-top: -98px;
    margin-left: -300px;
    display: none;
    opacity: 0;
    z-index: 6;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    to {
        display: block;
        opacity: 1;
    }
}

.square-2-container-after h2 {
    text-align: center;
    justify-content: center;
    display: flex;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.kar {
    margin-top: 45px;
    margin-left: 32px;
    color: #000;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}

.square-2-container-after svg {
    top: 0;
    margin-top: 45px;
    right: 32px
}

.square-2-price-1 p,
.square-2-price-2 p,
.square-2-price-3 p,
.square-2-price-4 p,
.square-2-price-5 p,
.square-2-price-6 p,
.square-2-price-7 p,
.square-2-price-8 p {
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.square-2-price-1,
.square-2-price-2,
.square-2-price-3,
.square-2-price-4,
.square-2-price-5,
.square-2-price-6,
.square-2-price-7,
.square-2-price-8 {
    width: 770px;
    height: 30px;
    margin-top: 12px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.square-2-container-after a {
    margin-top: 74px;
    margin-left: 399px;
    width: 371px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FF8A1E;
    text-decoration: none;
}

.square-2-container-after a p {
    width: 265px;
    height: 30px;
    margin-top: 17px;
    margin-left: 0;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.square-2-container-after a:hover {
    /* Кнопка при наведении */
    box-shadow: 0px 0px 20px 0px rgba(255, 138, 30, 0.70);
    background-color: #FFA84A;
}

.square-2-container-after a:active {
    /* Кнопка при нажатии */
    box-shadow: 0px 4px 4px 0px rgba(103, 56, 0, 0.25) inset;
    background-color: #FF8A1E;
}

/* Терапия */

.square-3-container-after {
    width: 1170px;
    height: auto;
    padding-bottom: 30px;
    border-radius: 10px;
    background: #ECF4FF;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    margin-top: -98px;
    margin-left: -600px;
    display: none;
    opacity: 0;
    z-index: 7;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    to {
        display: block;
        opacity: 1;
    }
}

.square-3-container-after h2 {
    text-align: center;
    justify-content: center;
    display: flex;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ter {
    margin-top: 45px;
    margin-left: 32px;
    color: #000;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}

.square-3-container-after svg {
    top: 0;
    margin-top: 45px;
    right: 32px
}

.square-3-price-1 p,
.square-3-price-2 p,
.square-3-price-3 p {
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.square-3-price-1,
.square-3-price-2,
.square-3-price-3 {
    width: 770px;
    height: 30px;
    margin-top: 12px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.square-3-price-1 {
    margin-top: 60px;
}

.doc-nap {
    margin-top: 120px;
}

.square-3-doctor {
    width: 770px;
    height: 627px;
    margin-left: 200px;
    margin-top: 72px;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.square-3-doctor-1,
.square-3-doctor-2 {
    width: 370px;
    height: 627px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #034599;
}

.square-3-doctor-2 {
    margin-left: 30px;
}

.square-3-doctor img {
    margin-top: 24px;
    margin-left: 24px;
    width: 322px;
    height: 269px;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
}

.square-3-doctor-1 img {
    background: url(../clinicWeb/images/doc_3.png), lightgray -20px -61.457px / 106.211% 169.517% no-repeat;
}

.square-3-doctor-2 img {
    background: url(../clinicWeb/images/doc_4.png), lightgray -20px -61.457px / 106.211% 169.517% no-repeat;
}

.square-3-doctor h5 {
    margin-top: 16px;
    margin-left: 24px;
    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.square-3-doctor-1 h5 {
    width: 176px;
    height: 60px;
}

.square-3-doctor-2 h5 {
    width: 322px;
    height: 60px;
}

.square-3-doctor h4 {
    margin-left: 24px;
    margin-right: 24px;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
    overflow-y: auto;
    max-height: 180px;
    -ms-overflow-style: none;
}

.square-3-doctor h4::-webkit-scrollbar {
    width: 5px;
}

.square-3-doctor h4::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.square-3-container-after a {
    margin-top: 74px;
    margin-left: 399px;
    width: 371px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FF8A1E;
    text-decoration: none;
}

.square-3-container-after a p {
    width: 265px;
    height: 30px;
    margin-top: 17px;
    margin-left: 0;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.square-3-container-after a:hover {
    /* Кнопка при наведении */
    box-shadow: 0px 0px 20px 0px rgba(255, 138, 30, 0.70);
    background-color: #FFA84A;
}

.square-3-container-after a:active {
    /* Кнопка при нажатии */
    box-shadow: 0px 4px 4px 0px rgba(103, 56, 0, 0.25) inset;
    background-color: #FF8A1E;
}

/* Гинекология */

.square-4-container-after {
    width: 1170px;
    height: auto;
    padding-bottom: 30px;
    border-radius: 10px;
    background: #ECF4FF;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    margin-top: -98px;
    margin-left: -900px;
    display: none;
    opacity: 0;
    z-index: 8;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    to {
        display: block;
        opacity: 1;
    }
}

.square-4-container-after h2 {
    text-align: center;
    justify-content: center;
    display: flex;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.gin {
    margin-top: 45px;
    margin-left: 32px;
    color: #000;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}

.square-4-container-after svg {
    top: 0;
    margin-top: 45px;
    right: 32px
}

.square-4-price-1 p,
.square-4-price-2 p,
.square-4-price-3 p,
.square-4-price-4 p,
.square-4-price-5 p,
.square-4-price-6 p,
.square-4-price-7 p,
.square-4-price-8 p,
.square-4-price-9 p,
.square-4-price-10 p,
.square-4-price-11 p,
.square-4-price-12 p,
.square-4-price-13 p,
.square-4-price-14 p,
.square-4-price-15 p,
.square-4-price-16 p,
.square-4-price-17 p,
.square-4-price-18 p,
.square-4-price-19 p,
.square-4-price-20 p {
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.square-4-price-1,
.square-4-price-2,
.square-4-price-3,
.square-4-price-4,
.square-4-price-5,
.square-4-price-6,
.square-4-price-7,
.square-4-price-8,
.square-4-price-9,
.square-4-price-10,
.square-4-price-11,
.square-4-price-12,
.square-4-price-13,
.square-4-price-14,
.square-4-price-15,
.square-4-price-16,
.square-4-price-17,
.square-4-price-18,
.square-4-price-19,
.square-4-price-20 {
    width: 770px;
    height: 30px;
    margin-top: 12px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.square-4-price-1 {
    margin-top: 60px;
}

.doc-nap {
    margin-top: 120px;
}

.square-4-doctor {
    width: 770px;
    height: 627px;
    margin-left: 200px;
    margin-top: 72px;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.square-4-doctor-1,
.square-4-doctor-2 {
    width: 370px;
    height: 627px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #034599;
}

.square-4-doctor-2 {
    margin-left: 30px;
}

.square-4-doctor img {
    margin-top: 24px;
    margin-left: 24px;
    width: 322px;
    height: 269px;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
}

.square-4-doctor-1 img {
    background: url(../clinicWeb/images/doc_5.png), lightgray -20px -61.457px / 106.211% 169.517% no-repeat;
}

.square-4-doctor-2 img {
    background: url(../clinicWeb/images/doc_6.png), lightgray -20px -61.457px / 106.211% 169.517% no-repeat;
}

.square-4-doctor h5 {
    margin-top: 16px;
    margin-left: 24px;
    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.square-4-doctor-1 h5 {
    width: 176px;
    height: 60px;
}

.square-4-doctor-2 h5 {
    width: 322px;
    height: 60px;
}

.square-4-doctor h4 {
    margin-left: 24px;
    margin-right: 24px;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
    overflow-y: auto;
    max-height: 180px;
    -ms-overflow-style: none;
}

.square-4-doctor h4::-webkit-scrollbar {
    width: 5px;
}

.square-4-doctor h4::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.square-4-container-after a {
    margin-top: 74px;
    margin-left: 399px;
    width: 371px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FF8A1E;
    text-decoration: none;
}

.square-4-container-after a p {
    width: 265px;
    height: 30px;
    margin-top: 17px;
    margin-left: 0;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.square-4-container-after a:hover {
    /* Кнопка при наведении */
    box-shadow: 0px 0px 20px 0px rgba(255, 138, 30, 0.70);
    background-color: #FFA84A;
}

.square-4-container-after a:active {
    /* Кнопка при нажатии */
    box-shadow: 0px 4px 4px 0px rgba(103, 56, 0, 0.25) inset;
    background-color: #FF8A1E;
}

/* УЗИ */

.square-5-container-after {
    width: 1170px;
    height: auto;
    padding-bottom: 30px;
    border-radius: 10px;
    background: #ECF4FF;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    margin-top: -246px;
    display: none;
    opacity: 0;
    z-index: 9;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    to {
        display: block;
        opacity: 1;
    }
}

.square-5-container-after h2 {
    text-align: center;
    justify-content: center;
    display: flex;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.uzi {
    margin-top: 45px;
    margin-left: 32px;
    color: #000;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}

.square-5-container-after svg {
    top: 0;
    margin-top: 45px;
    right: 32px
}

.square-5-price-1 p,
.square-5-price-2 p,
.square-5-price-3 p,
.square-5-price-4 p,
.square-5-price-5 p,
.square-5-price-6 p,
.square-5-price-7 p,
.square-5-price-8 p,
.square-5-price-9 p,
.square-5-price-10 p,
.square-5-price-11 p,
.square-5-price-12 p,
.square-5-price-13 p,
.square-5-price-14 p,
.square-5-price-15 p,
.square-5-price-16 p,
.square-5-price-17 p,
.square-5-price-18 p,
.square-5-price-19 p,
.square-5-price-20 p,
.square-5-price-21 p,
.square-5-price-22 p,
.square-5-price-23 p,
.square-5-price-24 p,
.square-5-price-25 p,
.square-5-price-26 p {
    max-width: 600px;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.square-5-price-1,
.square-5-price-2,
.square-5-price-3,
.square-5-price-4,
.square-5-price-5,
.square-5-price-6,
.square-5-price-7,
.square-5-price-9,
.square-5-price-10,
.square-5-price-11,
.square-5-price-12,
.square-5-price-13,
.square-5-price-14,
.square-5-price-15,
.square-5-price-16,
.square-5-price-17,
.square-5-price-18,
.square-5-price-19,
.square-5-price-20,
.square-5-price-22,
.square-5-price-23,
.square-5-price-24,
.square-5-price-25 {
    width: 770px;
    height: 30px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.square-5-price-8,
.square-5-price-21,
.square-5-price-26 {
    width: 770px;
    height: 60px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}

.square-5-price-1 {
    margin-top: 60px;
}

.doc-nap {
    margin-top: 120px;
}

.square-5-doctor {
    width: 770px;
    height: 627px;
    margin-left: 200px;
    margin-top: 72px;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.square-5-doctor-1,
.square-5-doctor-2 {
    width: 370px;
    height: 627px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #034599;
}

.square-5-doctor-2 {
    margin-left: 30px;
}

.square-5-doctor img {
    margin-top: 24px;
    margin-left: 24px;
    width: 322px;
    height: 269px;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
}

.square-5-doctor-1 img {
    background: url(../clinicWeb/images/doc_3.png), lightgray -20px -61.457px / 106.211% 169.517% no-repeat;
}

.square-5-doctor-2 img {
    background: url(../clinicWeb/images/doc_2.png), lightgray -20px -61.457px / 106.211% 169.517% no-repeat;
}

.square-5-doctor h5 {
    margin-top: 16px;
    margin-left: 24px;
    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.square-5-doctor-1 h5 {
    width: 176px;
    height: 60px;
}

.square-5-doctor-2 h5 {
    width: 322px;
    height: 60px;
}

.square-5-doctor h4 {
    margin-left: 24px;
    margin-right: 24px;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
    overflow-y: auto;
    max-height: 180px;
    -ms-overflow-style: none;
}

.square-5-doctor h4::-webkit-scrollbar {
    width: 5px;
}

.square-5-doctor h4::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.square-5-container-after a {
    margin-top: 74px;
    margin-left: 399px;
    width: 371px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FF8A1E;
    text-decoration: none;
}

.square-5-container-after a p {
    width: 265px;
    height: 30px;
    margin-top: 17px;
    margin-left: 0;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.square-5-container-after a:hover {
    /* Кнопка при наведении */
    box-shadow: 0px 0px 20px 0px rgba(255, 138, 30, 0.70);
    background-color: #FFA84A;
}

.square-5-container-after a:active {
    /* Кнопка при нажатии */
    box-shadow: 0px 4px 4px 0px rgba(103, 56, 0, 0.25) inset;
    background-color: #FF8A1E;
}

/* Больничные листы */

.square-6-container-after {
    width: 1170px;
    height: auto;
    padding-bottom: 30px;
    border-radius: 10px;
    background: #ECF4FF;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    margin-top: -262px;
    margin-left: -300px;
    display: none;
    opacity: 0;
    z-index: 10;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    to {
        display: block;
        opacity: 1;
    }
}

.BL {
    width: 168px;
    height: 60px;
    margin-top: 45px;
    margin-left: 32px;
    color: #000;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}

.square-6-container-after svg {
    top: 0;
    margin-top: 45px;
    right: 32px
}

.BL-cont {
    width: 770px;
    height: 120px;
    margin-left: 200px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

.BL-cont p {
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.square-6-container-after a {
    margin-top: 74px;
    margin-left: 399px;
    width: 371px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FF8A1E;
    text-decoration: none;
}

.square-6-container-after a p {
    width: 265px;
    height: 30px;
    margin-top: 17px;
    margin-left: 0;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.square-6-container-after a:hover {
    /* Кнопка при наведении */
    box-shadow: 0px 0px 20px 0px rgba(255, 138, 30, 0.70);
    background-color: #FFA84A;
}

.square-6-container-after a:active {
    /* Кнопка при нажатии */
    box-shadow: 0px 4px 4px 0px rgba(103, 56, 0, 0.25) inset;
    background-color: #FF8A1E;
}

/* Неврология */

.square-7-container-after {
    width: 1170px;
    height: auto;
    padding-bottom: 30px;
    border-radius: 10px;
    background: #ECF4FF;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    margin-top: -246px;
    margin-left: -600px;
    display: none;
    opacity: 0;
    z-index: 11;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    to {
        display: block;
        opacity: 1;
    }
}

.square-7-container-after h2 {
    text-align: center;
    justify-content: center;
    display: flex;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.nev {
    margin-top: 45px;
    margin-left: 32px;
    color: #000;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}

.square-7-container-after svg {
    top: 0;
    margin-top: 45px;
    right: 32px
}

.square-7-price-1 p,
.square-7-price-2 p,
.square-7-price-3 p {
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.square-7-price-1,
.square-7-price-2,
.square-7-price-3 {
    width: 770px;
    height: 30px;
    margin-top: 12px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.square-7-price-1 {
    margin-top: 60px;
}

.doc-nap {
    margin-top: 120px;
}

.square-7-doctor {
    width: 370px;
    height: 627px;
    margin-left: 400px;
    margin-top: 72px;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.square-7-doctor-1 {
    width: 370px;
    height: 627px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #034599;
}

.square-7-doctor img {
    margin-top: 24px;
    margin-left: 24px;
    width: 322px;
    height: 269px;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
}

.square-7-doctor-1 img {
    background: url(../clinicWeb/images/doc_7.png), lightgray -20px -61.457px / 106.211% 169.517% no-repeat;
}

.square-7-doctor h5 {
    margin-top: 16px;
    margin-left: 24px;
    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.square-7-doctor-1 h5 {
    width: 176px;
    height: 60px;
}

.square-7-doctor h4 {
    margin-left: 24px;
    margin-right: 24px;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
    overflow-y: auto;
    max-height: 180px;
    -ms-overflow-style: none;
}

.square-7-doctor h4::-webkit-scrollbar {
    width: 5px;
}

.square-7-doctor h4::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.square-7-container-after a {
    margin-top: 74px;
    margin-left: 399px;
    width: 371px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FF8A1E;
    text-decoration: none;
}

.square-7-container-after a p {
    width: 265px;
    height: 30px;
    margin-top: 17px;
    margin-left: 0;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.square-7-container-after a:hover {
    /* Кнопка при наведении */
    box-shadow: 0px 0px 20px 0px rgba(255, 138, 30, 0.70);
    background-color: #FFA84A;
}

.square-7-container-after a:active {
    /* Кнопка при нажатии */
    box-shadow: 0px 4px 4px 0px rgba(103, 56, 0, 0.25) inset;
    background-color: #FF8A1E;
}

/* Лабораторная диагностика */

.square-8-container-after {
    width: 1170px;
    height: auto;
    padding-bottom: 30px;
    border-radius: 10px;
    background: #ECF4FF;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    margin-top: -262px;
    margin-left: -900px;
    display: none;
    opacity: 0;
    z-index: 12;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    to {
        display: block;
        opacity: 1;
    }
}

.square-8-container-after h2 {
    text-align: center;
    justify-content: center;
    display: flex;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.lab {
    margin-top: 45px;
    margin-left: 32px;
    color: #000;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}

.square-8-container-after svg {
    top: 0;
    margin-top: 45px;
    right: 32px
}

.square-8-price-1 p,
.square-8-price-2 p,
.square-8-price-3 p,
.square-8-price-4 p,
.square-8-price-5 p,
.square-8-price-6 p,
.square-8-price-7 p,
.square-8-price-8 p,
.square-8-price-9 p,
.square-8-price-10 p,
.square-8-price-11 p {
    max-width: 600px;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.square-8-price-1,
.square-8-price-2,
.square-8-price-3,
.square-8-price-4,
.square-8-price-5,
.square-8-price-6,
.square-8-price-9,
.square-8-price-10,
.square-8-price-11 {
    width: 770px;
    height: 30px;
    margin-top: 12px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.square-8-price-7,
.square-8-price-8 {
    width: 770px;
    height: 60px;
    margin-top: 12px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.square-8-price-1 {
    margin-top: 60px;
}

.sq-8-price-par {
    width: 769px;
    height: 90px;
    margin-top: 72px;
    margin-left: 200px;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.doc-nap {
    margin-top: 120px;
}

.square-8-doctor {
    width: 370px;
    height: 447px;
    margin-left: 400px;
    margin-top: 72px;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.square-8-doctor-1 {
    width: 370px;
    height: 447px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #034599;
}

.square-8-doctor img {
    margin-top: 24px;
    margin-left: 24px;
    width: 322px;
    height: 269px;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
}

.square-8-doctor-1 img {
    background: url(../clinicWeb/images/doc_8.png), lightgray -20px -61.457px / 106.211% 169.517% no-repeat;
}

.square-8-doctor h5 {
    margin-top: 16px;
    margin-left: 24px;
    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.square-8-doctor-1 h5 {
    width: 176px;
    height: 60px;
}

.square-8-doctor h4 {
    margin-left: 24px;
    margin-right: 24px;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
    overflow-y: auto;
    max-height: 180px;
    -ms-overflow-style: none;
}

.square-8-doctor h4::-webkit-scrollbar {
    width: 5px;
}

.square-8-doctor h4::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.square-8-container-after a {
    margin-top: 74px;
    margin-left: 399px;
    width: 371px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FF8A1E;
    text-decoration: none;
}

.square-8-container-after a p {
    width: 265px;
    height: 30px;
    margin-top: 17px;
    margin-left: 0;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.square-8-container-after a:hover {
    /* Кнопка при наведении */
    box-shadow: 0px 0px 20px 0px rgba(255, 138, 30, 0.70);
    background-color: #FFA84A;
}

.square-8-container-after a:active {
    /* Кнопка при нажатии */
    box-shadow: 0px 4px 4px 0px rgba(103, 56, 0, 0.25) inset;
    background-color: #FF8A1E;
}

/* Логопед */

.square-9-container-after {
    width: 1170px;
    height: auto;
    padding-bottom: 30px;
    border-radius: 10px;
    background: #ECF4FF;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    margin-top: -394px;
    margin-left: -300px;
    display: none;
    opacity: 0;
    z-index: 13;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    to {
        display: block;
        opacity: 1;
    }
}

.square-9-container-after h2 {
    text-align: center;
    justify-content: center;
    display: flex;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.log {
    margin-top: 45px;
    margin-left: 32px;
    color: #000;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}

.square-9-container-after svg {
    top: 0;
    margin-top: 45px;
    right: 32px
}

.square-9-price-1 p {
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.square-9-price-1 {
    width: 770px;
    height: 30px;
    margin-top: 72px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doc-nap {
    margin-top: 120px;
}

.square-9-doctor {
    width: 370px;
    height: 627px;
    margin-left: 400px;
    margin-top: 72px;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.square-9-doctor-1 {
    width: 370px;
    height: 627px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #034599;
}

.square-9-doctor img {
    margin-top: 24px;
    margin-left: 24px;
    width: 322px;
    height: 269px;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
}

.square-9-doctor-1 img {
    background: url(../clinicWeb/images/doc_9.png), lightgray -20px -61.457px / 106.211% 169.517% no-repeat;
}

.square-9-doctor h5 {
    margin-top: 16px;
    margin-left: 24px;
    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.square-9-doctor-1 h5 {
    width: 176px;
    height: 60px;
}

.square-9-doctor h4 {
    margin-left: 24px;
    margin-right: 24px;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
    overflow-y: auto;
    max-height: 180px;
    -ms-overflow-style: none;
}

.square-9-doctor h4::-webkit-scrollbar {
    width: 5px;
}

.square-9-doctor h4::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.square-9-container-after a {
    margin-top: 74px;
    margin-left: 399px;
    width: 371px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FF8A1E;
    text-decoration: none;
}

.square-9-container-after a p {
    width: 265px;
    height: 30px;
    margin-top: 17px;
    margin-left: 0;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.square-9-container-after a:hover {
    /* Кнопка при наведении */
    box-shadow: 0px 0px 20px 0px rgba(255, 138, 30, 0.70);
    background-color: #FFA84A;
}

.square-9-container-after a:active {
    /* Кнопка при нажатии */
    box-shadow: 0px 4px 4px 0px rgba(103, 56, 0, 0.25) inset;
    background-color: #FF8A1E;
}

/* Психология */

.square-10-container-after {
    width: 1170px;
    height: auto;
    padding-bottom: 30px;
    border-radius: 10px;
    background: #ECF4FF;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    margin-top: -394px;
    margin-left: -600px;
    display: none;
    opacity: 0;
    z-index: 14;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    to {
        display: block;
        opacity: 1;
    }
}

.square-10-container-after h2 {
    text-align: center;
    justify-content: center;
    display: flex;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.psi {
    margin-top: 45px;
    margin-left: 32px;
    color: #000;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}

.square-10-container-after svg {
    top: 0;
    margin-top: 45px;
    right: 32px
}

.square-10-price-1 p {
    max-width: 470px;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.square-10-price-1 {
    width: 770px;
    height: 60px;
    margin-top: 72px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.doc-nap {
    margin-top: 120px;
}

.square-10-doctor {
    width: 370px;
    height: 627px;
    margin-left: 400px;
    margin-top: 72px;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.square-10-doctor-1 {
    width: 370px;
    height: 627px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #034599;
}

.square-10-doctor img {
    margin-top: 24px;
    margin-left: 24px;
    width: 322px;
    height: 269px;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
}

.square-10-doctor-1 img {
    background: url(../clinicWeb/images/doc_9.png), lightgray -20px -61.457px / 106.211% 169.517% no-repeat;
}

.square-10-doctor h5 {
    margin-top: 16px;
    margin-left: 24px;
    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.square-10-doctor-1 h5 {
    width: 176px;
    height: 60px;
}

.square-10-doctor h4 {
    margin-left: 24px;
    margin-right: 24px;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
    overflow-y: auto;
    max-height: 180px;
    -ms-overflow-style: none;
}

.square-10-doctor h4::-webkit-scrollbar {
    width: 5px;
}

.square-10-doctor h4::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.square-10-container-after a {
    margin-top: 74px;
    margin-left: 399px;
    width: 371px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FF8A1E;
    text-decoration: none;
}

.square-10-container-after a p {
    width: 265px;
    height: 30px;
    margin-top: 17px;
    margin-left: 0;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.square-10-container-after a:hover {
    /* Кнопка при наведении */
    box-shadow: 0px 0px 20px 0px rgba(255, 138, 30, 0.70);
    background-color: #FFA84A;
}

.square-10-container-after a:active {
    /* Кнопка при нажатии */
    box-shadow: 0px 4px 4px 0px rgba(103, 56, 0, 0.25) inset;
    background-color: #FF8A1E;
}

/* Четвертый слайд Четвертый слайд Четвертый слайд Четвертый слайд Четвертый слайд*/

.container-4 {
    width: 100%;
    height: 519px;
    margin-top: 120px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
}

.container-4 h2 {
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    align-items: center;
    position: absolute;
    top: 0;
}

.slider-with-svg p {
    padding-top: 64px;
    padding-left: 70px;
    text-align: left;
    color: #000;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 125% */
}

.slider-with-svg {
    width: 864px;
    height: 400px;
    top: 209px;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
}

.c-4-pensioner,
.c-4-military,
.c-4-children {
    width: 770px;
    height: 400px;
    box-sizing: border-box;
    display: flex;
    flex-shrink: 0;
    border-radius: 10px;
    border: 5px solid var(--main-dark-blue, #034599);
    position: absolute;
}

.cont-4-arr-left {
    position: absolute;
    left: 0;
    top: 168px;
}

.cont-4-arr-right {
    position: absolute;
    right: 0;
    top: 168px;
}

.cont-4-arr-left:hover {
    transform: scale(1.05);
    transform: translateX(-1px);
}

.cont-4-arr-left:active {
    transform: scale(0.95);
    transform: translateX(0);
}

.cont-4-arr-right:hover {
    transform: scale(1.05);
    transform: translateX(1px);
}

.cont-4-arr-right:active {
    transform: scale(0.95);
    transform: translateX(0);
}

.c-4-pensioner p {
    max-width: 288px;
}

.c-4-military p {
    max-width: 349px;
}

.c-4-children p {
    max-width: 435px;
}

.c-4-svg {
    position: absolute;
    bottom: 24px;
    left: 45%;
}

.c-4-content-svg {
    position: absolute;
    right: 70px;
    top: 98px;
}

/* Озывы */

.container-5 {
    height: 549px;
    margin-top: 220px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
}

.container-5 h2 {
    position: absolute;
    top: 0;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.reviews-container {
    height: 430px;
    position: relative;
    margin-top: 172px;
    display: flex;
    box-sizing: border-box;
    padding-left: 135px;
    overflow-x: scroll;
    scrollbar-width: none;
}

.reviews-container::-webkit-scrollbar {
    display: none;
}

.reviews {
    min-width: 470px;
    min-height: 430px;
    text-align: left;
    display: inline;
    margin-left: 30px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 6px 4px 25px 0px rgba(201, 221, 246, 0.20);
}

.reviews h5 {
    padding-top: 64px;
    padding-left: 64px;
    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.reviews p {
    padding-left: 64px;
    color: #000;
    font-family: 'Lato';
    max-width: 336px;
    max-height: 210px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

/* Контакты */

.container-6 {
    height: 439px;
    margin: 190px 135px 0 135px;
    position: relative;
}

.container-6 h2 {
    text-align: center;
    padding-bottom: 40px;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-6 p,
.cont-6-blue {
    margin-left: 0;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.cont-6-square {
    display: flex;
}

.telegram {
    text-decoration: none;
    transform: translateX(-30px);
}

.cont-6-blue {
    width: 270px;
    height: 106px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--main-light-blue, #02A1E3);
    margin-right: 30px;
}

.cont-6-blue h5 {
    margin-top: 24px;
    margin-left: 24px;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */

}

.cont-6-blue p {
    margin-top: -21px;
    margin-left: 23px;
    color: #FFF;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 187.5% */
}

.map {
    position: absolute;
    top: 132px;
    right: 0;
    width: 570px;
    height: 320px;
}

/* Запись на консультацию */

.container-7 {
    height: 671px;
    margin-top: 120px;
    position: relative;
    box-sizing: border-box;
}

.container-7 h2 {
    text-align: center;
    padding-bottom: 40px;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-7 p {
    color: #D9D9D9;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.cont-7-blue-back {
    width: 100%;
    height: 552px;
    background: var(--main-dark-blue, #034599);
}

.cont-7-info {
    width: 630px;
    height: 424px;
    padding-top: 64px;
    padding-left: 405px;
    display: block;
    padding-left: 28.125%;
}

.select-a-service,
.choose-a-doctor,
.choose-a-time {
    width: 630px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-a-service,
.choose-a-time {
    margin-bottom: 40px;
}

.select-a-service svg,
.choose-a-doctor svg,
.choose-a-time svg {
    padding-right: 21px;
}

.select-a-service p,
.choose-a-doctor p,
.choose-a-time p {
    padding-left: 30px;
}

.any {
    width: 151px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0 22px 30px;
}

.any-arrow {
    width: 24px;
    height: 24px;
    border-radius: 5px;
    background: #FFF;
}

.cont-7-info a {
    width: 371px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FF8A1E;
    text-decoration: none;
    margin-left: 129px;
}

.cont-7-info a:hover {
    box-shadow: 0px 0px 20px 0px rgba(255, 138, 30, 0.70);
}

.cont-7-info a:active {
    box-shadow: 0px 4px 4px 0px rgba(103, 56, 0, 0.25) inset;
}

/* Футер футер футер Футер футер футер Футер футер футер  */

.footer {
    width: 100%;
    height: 226px;
    margin-top: 120px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    background: #BAD8FF;
}

.footer-logo {
    position: absolute;
    padding-top: 32px;
    padding-left: 133px;
    cursor: pointer;
}

.footer ul {
    align-items: center;
    text-align: left;
    padding-left: 72px;
}

.footer ul a {
    text-decoration: none;
    padding-bottom: 16px;
    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.footer .col-7-1 {
    padding-left: 51%;
}

.footer .col-7-1,
.col-7-2,
.col-7-3 {
    padding-top: 38px;
}

.footer a:hover {
    transform: scale(1.05);
    transform: translateY(-2px);
}

.footer a:active {
    transform: scale(0.95);
    transform: translateY(0);
}