@font-face {
    font-family: 'Lato';
    src: url(fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Ukij';
    src: url(fonts/UKIJInichkeb.ttf);
}

body {
    background: #ECF4FF;
}

h2 {
    text-align: center;
    padding-bottom: 74px;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p {
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

/* Хедер */

.header {
    width: 100%;
    height: 82px;
    position: fixed;
    box-sizing: border-box;
    background: #ECF4FF;
    top: 0;
    z-index: 100;
}

/* Логотип */

.header-logo {
    padding: 16px 0 15px 9.375%;
    position: absolute;
    width: 51.049px;
    height: 51px;
}

/* Меню */

.menu {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3.89%;
    padding-right: 9.375%;
    padding-top: 0.5%;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 150% */
}

.menu svg {
    margin-left: 12px;
}

@media screen and (max-width: 1280px){
    .menu {
        padding-right: 7.8%;
        padding-top: 0.6%;
        gap: 3.29%;
    }

    .menu a {
        font-size: 18px;
    }

    .menu svg {
        margin-left: 8px;
        width: 14px;
    }
}

@media screen and (max-width: 1024px){
    .menu {
        padding-right: 6.8%;
        padding-top: 1.5%;
        gap: 2.69%;
    }

    .menu a {
        font-size: 16px;
    }

    .menu svg {
        margin-left: 4px;
        width: 12px;
    }
}

li {
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
}

.menu a:hover {
    transform: scale(1.05);
    transform: translateY(-2px);
}

.menu a:active {
    transform: scale(0.95);
    transform: translateY(0);
}

/* Выпадающее меню */

.dropdown {
    width: auto;
    height: auto;
    box-sizing: border-box;
    display: flex;
    position: absolute;
    top: 40px;
    padding: 16px 32px;
    border-radius: 10px;
    background: #ECF4FF;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    align-items: flex-start;
}

.dropdown a {
    color: #000;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    /* 138.889% */
}

@media screen and (max-width: 1280px){
    .dropdown a {
        font-size: 16px;
    }
}

@media screen and (max-width: 1024px){
    .dropdown a {
        font-size: 14px;
    }
}

.left-column,
.right-column {
    display: flex;
    flex-direction: column;
}

.left-column {
    margin-right: 32px;
}

.drop-1 {
    width: 89px;
    height: 25px;
}

.drop-2 {
    width: 83px;
    height: 25px;
}

.drop-3 {
    width: 79px;
    height: 25px;
}

.drop-4 {
    width: 111px;
    height: 50px;
}

.drop-1,
.drop-2,
.drop-3,
.drop-4 {
    margin: 16px 0;
}

li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    margin-top: -16px;
}

li:hover svg {
    transform: rotate(180deg);
    transition: 0.3s ease;
    flex-shrink: 0;
}


/* Вакансии */

.container-1 {
    min-height: 301px;
    margin: 120px 235px 0 235px;
}

/* Правовая информация */

.container-2 {
    min-height: 1290px;
    margin: 120px 235px 0 235px;
}

/* Лицензии */

.container-3 {
    min-height: 1080px;
    margin: 120px 235px 0 235px;
}

/* Футер футер футер Футер футер футер Футер футер футер  */

.footer {
    width: 100%;
    height: 226px;
    margin-top: 120px;
    position: relative;
    box-sizing: border-box;
    display: flex;
    background: #BAD8FF;
}

.footer-logo {
    position: absolute;
    padding-top: 32px;
    padding-left: 133px;
    cursor: pointer;
}

.footer ul {
    align-items: center;
    text-align: left;
    padding-left: 72px;
}

.footer ul a {
    text-decoration: none;
    padding-bottom: 16px;
    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

.footer .col-7-1 {
    padding-left: 51%;
}

.footer .col-7-1, .col-7-2, .col-7-3 {
    padding-top: 38px;
}

.footer a:hover {
    transform: scale(1.05);
    transform: translateY(-2px);
}

.footer a:active {
    transform: scale(0.95);
    transform: translateY(0);
}