@font-face {
    font-family: 'Lato';
    src: url(../clinicWeb/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: 'Ukij';
    src: url(../clinicWeb/fonts/UKIJInichkeb.ttf);
}

body {
    background: #dfebfb;
}

/* Хедер */

.header {
    width: 100%;
    height: 82px;
    position: fixed;
    box-sizing: border-box;
    background: #ECF4FF;
    top: 0;
    z-index: 100;
}

/* Логотип */

.header-logo {
    margin: 16px 0 15px 135px;
    position: absolute;
    width: 51.049px;
    height: 51px;
}

/* Меню */

.menu {
    width: auto;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 56px;
    margin: 26px 136px 26px 0;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

.menu svg {
    margin-left: 12px;
}

li {
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
}

/* Выпадающее меню */

.dropdown {
    width: 296px;
    height: auto;
    box-sizing: border-box;
    display: flex;
    position: absolute;
    top: 40px;
    padding: 16px 32px;
    border-radius: 10px;
    background: #ECF4FF;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    align-items: flex-start;
}

.dropdown a {
    color: #000;
    font-family: 'Lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 138.889% */
}

.left-column, .right-column {
    display: flex;
    flex-direction: column;
}

.left-column {
    margin-right: 32px;
}

.drop-1 {
    width: 89px;
    height: 25px;
}

.drop-2 {
    width: 83px;
    height: 25px;
}

.drop-3 {
    width: 79px;
    height: 25px;
}

.drop-4 {
    width: 111px;
    height: 50px;
}

.drop-1, .drop-2, .drop-3, .drop-4 {
    margin: 8px 8px 16px 8px;
}

li:hover .dropdown {
    opacity: 1;
    visibility: visible;
    top: 50px;
}

li:hover svg {
    transform: rotate(180deg);
    transition: 0.3s ease;
    flex-shrink: 0;
}

/* Первый слайд */

.container-1 {
    width: 100%;
    height: 500px;
    padding: 162px 136px 0 135px;
    display: flex;
    box-sizing: border-box;
}

.container-info {
    width: 670px;
    height: 500px;
}

.container-1 h1 {
    color: #000;
    font-family: 'Ukij';
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    margin: 0;
}

.container-1 h2 {
    margin-top: 24px;
    text-align: left;
    color: #000;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
}

.container-1 p {
    margin-top: 12px;
    text-align: left;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

.container-info .main-btn {
    width: 371px;
    height: 64px;
    text-decoration: none;
    margin-top: 150px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #FF8A1E;
    border: none;
}

.main-btn:hover {
    /* Кнопка при наведении */
    box-shadow: 0px 0px 20px 0px rgba(255, 138, 30, 0.70);
    background-color: #FFA84A;
}

.main-btn:active {
    /* Кнопка при нажатии */
    box-shadow: 0px 4px 4px 0px rgba(103, 56, 0, 0.25) inset;
    background-color: #FF8A1E;
}

.container-info .main-btn p {
    width: 265px;
    height: 30px;
    margin-top: 17px;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
    white-space: nowrap;
}

.container-1 img {
    width: 400px;
    height: 500px;
    margin-left: auto;
}

/* Второй слайд */

.container-2 {
    width: 100%;
    height: 762px;
    padding-top: 20%;
    margin: 0 auto;
    /* position: relative; Ошибка в кнопке на этом моменте */
    box-sizing: border-box;
}

.container-2 h1 {
    margin: 0 auto;
    width: max-content;
    top: 0;
    left: 50%;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.first-p-container-2 {
    margin-left: 135px;
    margin-top: 72px;
    width: 500px;
    text-align: left;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

.second-p-container-2 {
    margin-top: 24px;
    margin-left: 135px;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

.slideshow {
    position: absolute;
    width: 596px;
    height: 355px;
    margin-top: 125px;
    right: 135px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.photo-container {
    display: flex;
    width: 500px;
    height: 355px;
    overflow: hidden;
    position: relative;
    margin-left: 48px;
}

.slide {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.arrow-left, .arrow-right {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    position: absolute;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

@media screen and (max-width: 1280px) {
    .first-p-container-2 {
        width: 360px;
    }
}

@media screen and (max-width: 920px) {
    .first-p-container-2 {
        width: 260px;
        margin-top: 430px;
    }
}

@media screen and (max-width: 768px) {
    .first-p-container-2 {
        width: 160px;
        margin-top: 430px;
    }
}

@media screen and (max-width: 920px) {
    .second-p-container-2 {
        margin-top: 24px;
    }
}

@media screen and (max-width: 768px) {
    .second-p-container-2 {
        margin-top: 24px;
    }
}

@media screen and (max-width: 1280px) {
    .container-2 {
        padding-top: 40%; /* Уменьшение отступа для более узких экранов */
    }
}

@media screen and (max-width: 1024px) {
    .container-2 {
        padding-top: 50%; /* Уменьшение отступа для более узких экранов */
    }
}

@media screen and (max-width: 769px) {
    .container-2 {
        padding-top: 60%; /* Уменьшение отступа для более узких экранов */
    }
}

.tick-info {
    width: 1170px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    margin-top: 57px;
    margin-left: 135px;
}

.info-with-tick {
    width: 270px;
    height: 176px;
    flex-shrink: 0;
    margin-right: 30px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 6px 4px 25px 0px rgba(201, 221, 246, 0.20);
}

.info-with-tick-4 {
    width: 270px;
    height: 176px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 6px 4px 25px 0px rgba(201, 221, 246, 0.20);
}

.info-with-tick p, .info-with-tick-4 p {
    margin-left: 16px;
    margin-bottom: 16px;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

.info-with-tick svg, .info-with-tick-4 svg {
    margin-top: 16px;
    margin-left: 16px;
}

.text-tick-1 {
    width: 175px;
}

.text-tick-2 {
    width: 117px;
}

.text-tick-3 {
    width: 212px;
}

.text-tick-4 {
    width: 182px;
}

@media screen and (max-width: 1280px) {
    .tick-info {
        width: 1020px;
    }
    .info-with-tick {
        width: 230px;
    }
    .info-with-tick-4 {
        width: 230px;
    }
}

@media screen and (max-width: 960px) {
    .tick-info {
        width: 690px;
    }
    .info-with-tick {
        width: 180px;
    }
    .info-with-tick-4 {
        width: 180px;
    }
}


@media screen and (max-width: 768px) {
    .tick-info {
        width: 498px;
    }
    .info-with-tick {
        width: 100px;
    }
    .info-with-tick-4 {
        width: 100px;
    }
}

/* Информация о времени */

.container-2-1 {
    margin-top: 20%;
    width: 100%;
    height: 262px;
    background: var(--main-dark-blue, #034599);
    position: relative;
    box-sizing: border-box;
}

.text-container-2-1 {
    padding-top: 40px;
    text-align: center;
    color: #FFF;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

.background {
    display: flex;
    box-sizing: border-box;
}

.background-1 {
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--main-light-blue, #02A1E3);
    margin-left: 32%;
}

.background-2 {
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--main-light-blue, #02A1E3);
    margin-left: 30px;
}

.background-1 h4, .background-2 h4 {
    margin-top: 24px;
    margin-left: 24px;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

.background-1 p, .background-2 p {
    margin-left: 24px;
    margin-top: -12px;
    color: #FFF;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

/* Услуги */

.container-3 {
    width: 100%;
    padding-top: 120px;
    display: flex;
    box-sizing: border-box;
    position: relative;
    text-align: center;
    margin: 0 auto;
}

.container-3 h3 {
    width: max-content;
    margin-top: 0;
    left: 45%;
    position: absolute;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.container-3-background {
    margin-top: 144px;
    width: 100%;
    height: 496px;
    background: var(--main-dark-blue, #034599);
}

.line-1, .line-2, .line-3 {
    display: flex;
    box-sizing: border-box;
}

.line-1 {
    margin-left: 11.6%;
    margin-top: 40px;
}

.line-2 {
    margin-left: 11.6%;
    margin-top: 28px;
}

.line-3 {
    margin-left: 31.5%;
    margin-top: 28px;
}

.square-1, .square-2, .square-3, .square-4, .square-5,
.square-6, .square-7, .square-8, .square-9, .square-10 {
    width: 270px;
    height: 120px;
    flex-shrink: 0;
    border-radius: 10px;
    background: var(--main-light-blue, #02A1E3);
}

.square-2, .square-3, .square-4,
.square-6, .square-7, .square-8,
.square-10 {
    margin-left: 30px;
}

.square-1 p, .square-2 p, .square-3 p, .square-4 p, .square-5 p,
.square-6 p, .square-7 p, .square-8 p, .square-9 p, .square-10 p {
    text-align: left;
    color: #FFF;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
}

.square-1 p {
    width: 122px;
    height: 30px;
}

.square-2 p {
    width: 146px;
    height: 30px;
}

.square-3 p {
    width: 89px;
    height: 30px;
}

.square-4 p {
    width: 139px;
    height: 30px;
}

.square-5 p {
    width: 47px;
    height: 30px;
}

.square-6 p {
    width: 160px;
    height: 60px;
}

.square-7 p {
    width: 143px;
    height: 30px;
}

.square-8 p {
    width: 174px;
    height: 60px;
}

.square-9 p {
    width: 95px;
    height: 30px;
}

.square-10 p {
    width: 143px;
    height: 30px;
}

.square-1 p, .square-2 p, .square-3 p, .square-4 p, .square-5 p,
.square-7 p, .square-9 p, .square-10 p {
    margin-top: 45px;
    margin-left: 32px;
}

.square-6 p, .square-8 p {
    margin-top: 30px;
    margin-left: 32px;
}

.square-1 svg, .square-2 svg, .square-3 svg, .square-4 svg, .square-5 svg,
.square-6 svg, .square-7 svg, .square-8 svg, .square-9 svg, .square-10 svg {
    width: 11.95px;
    height: 11.95px;
    flex-shrink: 0;
    position: absolute;
}

.square-1 svg {
    margin-left: 75px;
    margin-top: 10px;
}

.square-2 svg {
    margin-left: 51px;
    margin-top: 10px;
}

.square-3 svg {
    margin-left: 108px;
    margin-top: 10px;
}

.square-4 svg {
    margin-left: 58px;
    margin-top: 10px;
}

.square-5 svg {
    margin-left: 150px;
    margin-top: 10px;
}

.square-6 svg {
    margin-left: 125px;
}

.square-7 svg {
    margin-left: 61px;
    margin-top: 10px;
}

.square-8 svg {
    margin-left: 52px;
}

.square-9 svg {
    margin-left: 94px;
    margin-top: 10px;
}

.square-10 svg {
    margin-left: 58px;
    margin-top: 10px;
}

/* Педиатрия */

.square-1-container-after {
    width: 1170px;
    height: 1450px;
    border-radius: 10px;
    background: #ECF4FF;
    display: flex;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    position: absolute;
    margin-top: -98px;
    display: none;
    opacity: 0;
    z-index: 1;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    to {
        display: block;
        opacity: 1;
    }
}

.square-1-container-after h2 {
    text-align: center;
    justify-content: center;
    display: flex;
    color: #000;
    font-family: 'Ukij';
    font-size: 47px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ped {
    margin-top: 45px;
    margin-left: 32px;
    color: #000;
    font-family: 'Lato';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 125% */
}

.square-1-container-after svg {
    top: 0;
    margin-top: 45px;
    right: 32px
}

.square-1-price-1 p, .square-1-price-2 p, .square-1-price-3 p {
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
}

.square-1-price-1, .square-1-price-2, .square-1-price-3 {
    width: 770px;
    height: 30px;
    margin-top: 12px;
    margin-left: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.square-1-price-1 {
    margin-top: 60px;
}

.square-1-price-1-p-1, .square-1-price-2-p-1, .square-1-price-3-p-1 {
    white-space: nowrap;
    left: 0;
}

.square-1-price-1-p-2, .square-1-price-2-p-2, .square-1-price-3-p-2 {
    right: 0;
}

.blue-stick {
    margin-top: 12px;
    margin-left: 200px;
    width: 770px;
    height: 2px;
    flex-shrink: 0;
    background: #034599;
}

.doc-nap {
    margin-top: 120px;
}

.square-1-doctor {
    width: 770px;
    height: 627px;
    margin-left: 200px;
    margin-top: 72px;
    display: flex;
    position: relative;
    box-sizing: border-box;
}

.square-1-doctor-1, .square-1-doctor-2 {
    width: 370px;
    height: 627px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2px solid #034599;
}

.square-1-doctor-2 {
    margin-left: 30px;
}

.square-1-doctor img {
    margin-top: 24px;
    margin-left: 24px;
    width: 322px;
    height: 269px;
    flex-shrink: 0;
    border-radius: 5px;
    overflow: hidden;
}

.square-1-doctor-1 img {
    background: url(../clinicWeb/images/doc_1.png), lightgray -20px -61.457px / 106.211% 169.517% no-repeat;
}

.square-1-doctor-2 img {
    background: url(../clinicWeb/images/doc_2.png), lightgray -20px -61.457px / 106.211% 169.517% no-repeat;
}

.square-1-doctor h5 {
    margin-top: 16px;
    margin-left: 24px;
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

.square-1-doctor h4{
    margin-top: 16px;
    margin-left: 24px;
    margin-right: 24px;
    color: #000;
    font-family: 'Lato';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    overflow-y: auto;
    max-height: 180px;
    /* scrollbar-width: thin;
    scrollbar-color: transparent transparent; */
    -ms-overflow-style: none;
}

.square-1-doctor h4::-webkit-scrollbar {
    width: 5px;
}

.square-1-doctor h4::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.square-1-container-after a {
    margin-top: 74px;
    margin-left: 399px;
    width: 371px;
    height: 64px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: #FF8A1E;
}

.square-1-container-after a p {
    width: 265px;
    height: 30px;
    margin-top: 17px;
    margin-left: 0;
    color: #FFF;
    font-family: 'Lato';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

.square-1-container-after a:hover {
    /* Кнопка при наведении */
    box-shadow: 0px 0px 20px 0px rgba(255, 138, 30, 0.70);
    background-color: #FFA84A;
}

.square-1-container-after a:active {
    /* Кнопка при нажатии */
    box-shadow: 0px 4px 4px 0px rgba(103, 56, 0, 0.25) inset;
    background-color: #FF8A1E;
}

/* Кардиология */

